FORMAT: 1A
HOST: http://fangol.apiary.io/

# Galleries API

Galleries is a simple API allowing users to view galleries & create their own apiary git chirag.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)

        {
            "galleries_url": "/galleries"
        }
        
## Group Gallery

Resources related to galleries in the API.

## Gallery [/galleries{?gallery_id}]

A Gallery object has the following attributes:

+ name - Name of the gallery.
+ created_at - Date when the gallery was created.
+ title - Title of the gallery.
+ user - An object indicating user unformation. The user who created the gallery.
+ description - Description of the gallery.
+ media - An array including the medias (image) in the gallery.
+ like_count - The number of likes for the gallery.
+ likes - An array containing the user information who have liked the gallery.
+ comment_count - The number of comments in the gallery.
+ comments - An array containing the comment_text, id & the user information.
+ media_count - The number of media in the gallery.
+ id - The unique ID representing the gallery.
+ thumb_url - Gallery thumbnail image url.
+ medium_url - Gallery medium image url.
+ large_url - Gallery large image url.
+ is_approved - Boolean value indicating whether the gallery has been approved by Admin.

+ Parameters
    + gallery_id: 1 (required, number) - ID of the Gallery in form of an integer
    
### View a Galleries Detail [GET]

+ Response 200 (application/json)

        {
            "name": "Messi",
            "created_at": "2015-05-30T08:40:51.620Z",
            "title": "Lorem ipsum dolor #1",
            "slug" : "lorem-upsum-dolor-sit-amet",
            "is_approved": true,
            "id": 1,
            "small_crop_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
            "medium_crop_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
            "large_crop_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
            "small_crop_id": 1,
            "medium_crop_id": 1,
            "large_crop_id": 1,
            "user": {
                "id": 1,
                "username": "Chirag Hindocha",
                "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/11071599_819587644791290_7954489720289455668_n.jpg?oh=9abf9c5c5c759be68d8572ef77c35934&oe=5609E5F9&__gda__=1442001810_ade896aa7b99459c228a1e3d45c0b441"
            },
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla elit et purus luctus tempor. Suspendisse a blandit odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales eu felis et placerat. Aliquam elit massa, gravida in enim lacinia, lobortis cursus tellus.",
            "media": [
                {
                    "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                    "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                    "index": 1,
                    "is_cover_pic": true,
                    "title": "",
                    "description": "",
                    "like_count": 150,
                    "type": "image",
                    "dislike_count": 5
                },
                {
                    "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-28a.jpg",
                    "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-28a.jpg",
                    "index": 2,
                    "is_cover_pic": false,
                    "title": "Lorem ipsum dolor sit amet",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed accumsan nisi. Aenean finibus odio eget massa lacinia laoreet. Sed egestas vel dui nec vulputate. Sed at lectus eget velit lacinia elementum ac id nunc. Nulla facilisi. Integer fringilla luctus tellus",
                    "like_count": 150,
                    "type": "image",
                    "dislike_count": 5
                },
                {
                    "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-27a.jpg",
                    "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-27a.jpg",
                    "index": 3,
                    "is_cover_pic": false,
                    "title": "Lorem ipsum dolor sit amet",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed accumsan nisi. Aenean finibus odio eget massa lacinia laoreet. Sed egestas vel dui nec vulputate. Sed at lectus eget velit lacinia elementum ac id nunc. Nulla facilisi. Integer fringilla luctus tellus",
                    "like_count": 150,
                    "type": "image",
                    "dislike_count": 5
                },
                {
                    "url": "https://youtu.be/Hagn2hY-E8M",
                    "thumb_url": "https://youtu.be/Hagn2hY-E8M",
                    "index": 4,
                    "is_cover_pic": false,
                    "title": "Lorem ipsum dolor sit amet",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed accumsan nisi. Aenean finibus odio eget massa lacinia laoreet. Sed egestas vel dui nec vulputate. Sed at lectus eget velit lacinia elementum ac id nunc. Nulla facilisi. Integer fringilla luctus tellus",
                    "like_count": 150,
                    "type": "video",
                    "source": {
                        "source": "youtube.com",
                        "url": ""
                    },
                    "dislike_count": 5
                },
                {
                    "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-25a.jpg",
                    "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-25a.jpg",
                    "index": 5,
                    "is_cover_pic": false,
                    "title": "Lorem ipsum dolor sit amet",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed accumsan nisi. Aenean finibus odio eget massa lacinia laoreet. Sed egestas vel dui nec vulputate. Sed at lectus eget velit lacinia elementum ac id nunc. Nulla facilisi. Integer fringilla luctus tellus",
                    "like_count": 150,
                    "type": "image",
                    "dislike_count": 5
                },
                {
                    "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-24a.jpg",
                    "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-24a.jpg",
                    "index": 6,
                    "is_cover_pic": false,
                    "title": "Lorem ipsum dolor sit amet",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed accumsan nisi. Aenean finibus odio eget massa lacinia laoreet. Sed egestas vel dui nec vulputate. Sed at lectus eget velit lacinia elementum ac id nunc. Nulla facilisi. Integer fringilla luctus tellus",
                    "like_count": 150,
                    "type": "image",
                    "dislike_count": 5
                },
                {
                    "url": "http://25.media.tumblr.com/0a29f04891244a42b461293f9bb68ced/tumblr_mhgbaq8pCT1s11r1ko1_500.gif",
                    "thumb_url": "http://25.media.tumblr.com/0a29f04891244a42b461293f9bb68ced/tumblr_mhgbaq8pCT1s11r1ko1_500.gif",
                    "index": 7,
                    "is_cover_pic": false,
                    "title": "Lorem ipsum dolor sit amet",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed accumsan nisi. Aenean finibus odio eget massa lacinia laoreet. Sed egestas vel dui nec vulputate. Sed at lectus eget velit lacinia elementum ac id nunc. Nulla facilisi. Integer fringilla luctus tellus",
                    "like_count": 150,
                    "type": "image",
                    "dislike_count": 5
                },
                {
                    "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-22a.jpg",
                    "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-22a.jpg",
                    "index": 8,
                    "is_cover_pic": false,
                    "title": "Lorem ipsum dolor sit amet",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed accumsan nisi. Aenean finibus odio eget massa lacinia laoreet. Sed egestas vel dui nec vulputate. Sed at lectus eget velit lacinia elementum ac id nunc. Nulla facilisi. Integer fringilla luctus tellus",
                    "like_count": 150,
                    "type": "image",
                    "dislike_count": 5
                },
                {
                    "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-21a.jpg",
                    "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-21a.jpg",
                    "index": 9,
                    "is_cover_pic": false,
                    "title": "Lorem ipsum dolor sit amet",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed accumsan nisi. Aenean finibus odio eget massa lacinia laoreet. Sed egestas vel dui nec vulputate. Sed at lectus eget velit lacinia elementum ac id nunc. Nulla facilisi. Integer fringilla luctus tellus",
                    "like_count": 150,
                    "type": "image",
                    "dislike_count": 5
                },
                {
                    "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-20a.jpg",
                    "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-20a.jpg",
                    "index": 10,
                    "is_cover_pic": false,
                    "title": "Lorem ipsum dolor sit amet",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed accumsan nisi. Aenean finibus odio eget massa lacinia laoreet. Sed egestas vel dui nec vulputate. Sed at lectus eget velit lacinia elementum ac id nunc. Nulla facilisi. Integer fringilla luctus tellus",
                    "like_count": 150,
                    "type": "image",
                    "dislike_count": 5
                }
            ],
            "like_count": 382,
            "dislike_count": 128,
            "likes": [
                {
                    "username": "Chirag Hindocha",
                    "id": 1,
                    "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/11071599_819587644791290_7954489720289455668_n.jpg?oh=9abf9c5c5c759be68d8572ef77c35934&oe=5609E5F9&__gda__=1442001810_ade896aa7b99459c228a1e3d45c0b441"
                },
                {
                    "username": "Vivek Satasiya",
                    "id": 2,
                    "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/c40.0.160.160/p160x160/10547708_4585660257513_3847536534524271235_n.jpg?oh=617d1f22a4bd998fa90f2ca3a3cba8f2&oe=55EC8688&__gda__=1443560663_a2ac9359a29cd06b64dcab8588f83441"
                },
                {
                    "username": "Aakash Sanandiya",
                    "id": 3,
                    "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xtp1/v/t1.0-1/p160x160/11061947_799115326790805_8296568693751422910_n.jpg?oh=e6c3b0b46c3fd583d36699c802d3ff0e&oe=55C06BF2&__gda__=1443017534_69da4845527d141164d7cc226180dc4e"
                },
                {
                    "username": "Vinay Bhinde",
                    "id": 4,
                    "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p160x160/10250076_10206788141324480_8843900904097919506_n.jpg?oh=1c34c6b7f15f563f2169acc22d0c1b2d&oe=55F4080E&__gda__=1441835739_c03a87587ac15600977565c66fc9f653"
                }
            ],
            "comment_count": 4,
            "comment": {
                "created_at": "2015-05-30T08:40:51.620Z",
                "id": 1,
                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel lacinia neque. Mauris in egestas risus.",
                "from": {
                    "username": "martinus",
                    "id": 1,
                    "avatar": "http://api.randomuser.me/portraits/thumb/men/10.jpg"
                },
                "like_count": 284,
                "media": "",
                "media_type": "",
                "reply": []
            },
            "media_count": 10
        }
        
## Galleries Collection [/galleries{?user_id,limit,page}]

+ Parameters
    + page: 1
    + limit: 10
    + user_id: 1

### List All Galleries [GET]

+ Response 200 (application/json)

    + Body

            [
                {
                    "name": "Messi",
                    "created_at": "2015-05-30T08:40:51.620Z",
                    "title": "Lorem ipsum dolor",
                    "slug" : "lorem-upsum-dolor-sit-amet",
                    "is_approved": true,
                    "id": 1,
                    "small_crop_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                    "medium_crop_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                    "large_crop_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                    "small_crop_id": 1,
                    "medium_crop_id": 1,
                    "large_crop_id": 1,
                    "user": {
                        "id": 1,
                        "username": "Chirag Hindocha",
                        "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/11071599_819587644791290_7954489720289455668_n.jpg?oh=9abf9c5c5c759be68d8572ef77c35934&oe=5609E5F9&__gda__=1442001810_ade896aa7b99459c228a1e3d45c0b441"
                    },
                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla elit et purus luctus tempor. Suspendisse a blandit odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales eu felis et placerat. Aliquam elit massa, gravida in enim lacinia, lobortis cursus tellus.",
                    "media": [
                        {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                            "index": 1,
                            "is_cover_pic": true,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-28a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-28a.jpg",
                            "index": 2,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-27a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-27a.jpg",
                            "index": 3,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-26a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-26a.jpg",
                            "index": 4,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-25a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-25a.jpg",
                            "index": 5,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-24a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-24a.jpg",
                            "index": 6,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-23a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-23a.jpg",
                            "index": 7,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-22a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-22a.jpg",
                            "index": 8,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-21a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-21a.jpg",
                            "index": 9,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-20a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-20a.jpg",
                            "index": 10,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }
                    ],
                    "like_count": 382,
                    "dislike_count": 128,
                    "likes": [
                        {
                            "username": "Chirag Hindocha",
                            "id": 1,
                            "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/11071599_819587644791290_7954489720289455668_n.jpg?oh=9abf9c5c5c759be68d8572ef77c35934&oe=5609E5F9&__gda__=1442001810_ade896aa7b99459c228a1e3d45c0b441"
                        },
                        {
                            "username": "Vivek Satasiya",
                            "id": 2,
                            "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/c40.0.160.160/p160x160/10547708_4585660257513_3847536534524271235_n.jpg?oh=617d1f22a4bd998fa90f2ca3a3cba8f2&oe=55EC8688&__gda__=1443560663_a2ac9359a29cd06b64dcab8588f83441"
                        },
                        {
                            "username": "Aakash Sanandiya",
                            "id": 3,
                            "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xtp1/v/t1.0-1/p160x160/11061947_799115326790805_8296568693751422910_n.jpg?oh=e6c3b0b46c3fd583d36699c802d3ff0e&oe=55C06BF2&__gda__=1443017534_69da4845527d141164d7cc226180dc4e"
                        },
                        {
                            "username": "Vinay Bhinde",
                            "id": 4,
                            "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p160x160/10250076_10206788141324480_8843900904097919506_n.jpg?oh=1c34c6b7f15f563f2169acc22d0c1b2d&oe=55F4080E&__gda__=1441835739_c03a87587ac15600977565c66fc9f653"
                        }
                    ],
                    "comment_count": 4,
                    "comment": {
                        "created_at": "2015-05-30T08:40:51.620Z",
                        "id": 1,
                        "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel lacinia neque. Mauris in egestas risus.",
                        "from": {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/24.jpg"
                        },
                        "like_count": 284,
                        "media": "",
                        "media_type": "",
                        "reply": []
                    },
                    "media_count": 10
                },
                {
                    "name": "Lorem ipsum dolor sit amet",
                    "created_at": "2015-05-30T08:40:51.620Z",
                    "title": "Lorem ipsum dolor",
                    "is_approved": true,
                    "id": 2,
                    "small_crop_url": "http://photon.101medialablimit.netdna-cdn.com/hypebeast.com/image/2015/11/cristiano-ronaldo-on-football-lionel-messi-and-leaving-real-madrid-001.jpg?w=1024",
                    "medium_crop_url": "http://photon.101medialablimit.netdna-cdn.com/hypebeast.com/image/2015/11/cristiano-ronaldo-on-football-lionel-messi-and-leaving-real-madrid-001.jpg?w=1024",
                    "large_crop_url": "http://photon.101medialablimit.netdna-cdn.com/hypebeast.com/image/2015/11/cristiano-ronaldo-on-football-lionel-messi-and-leaving-real-madrid-001.jpg?w=1024",
                    "small_crop_id": 1,
                    "medium_crop_id": 1,
                    "large_crop_id": 1,
                    "user": {
                        "id": 1,
                        "username": "Chirag Hindocha",
                        "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/11071599_819587644791290_7954489720289455668_n.jpg?oh=9abf9c5c5c759be68d8572ef77c35934&oe=5609E5F9&__gda__=1442001810_ade896aa7b99459c228a1e3d45c0b441"
                    },
                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla elit et purus luctus tempor. Suspendisse a blandit odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales eu felis et placerat. Aliquam elit massa, gravida in enim lacinia, lobortis cursus tellus.",
                    "media": [
                        {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                            "index": 1,
                            "is_cover_pic": true,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-28a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-28a.jpg",
                            "index": 2,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-27a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-27a.jpg",
                            "index": 3,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-26a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-26a.jpg",
                            "index": 4,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-25a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-25a.jpg",
                            "index": 5,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-24a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-24a.jpg",
                            "index": 6,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-23a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-23a.jpg",
                            "index": 7,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-22a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-22a.jpg",
                            "index": 8,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-21a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-21a.jpg",
                            "index": 9,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }, {
                            "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-20a.jpg",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-20a.jpg",
                            "index": 10,
                            "is_cover_pic": false,
                            "description": "First Image Description",
                            "like_count": 150,
                            "dislike_count": 5
                        }
                    ],
                    "like_count": 382,
                    "dislike_count": 128,
                    "likes": [
                        {
                            "username": "Chirag Hindocha",
                            "id": 1,
                            "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/11071599_819587644791290_7954489720289455668_n.jpg?oh=9abf9c5c5c759be68d8572ef77c35934&oe=5609E5F9&__gda__=1442001810_ade896aa7b99459c228a1e3d45c0b441"
                        },
                        {
                            "username": "Vivek Satasiya",
                            "id": 2,
                            "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/c40.0.160.160/p160x160/10547708_4585660257513_3847536534524271235_n.jpg?oh=617d1f22a4bd998fa90f2ca3a3cba8f2&oe=55EC8688&__gda__=1443560663_a2ac9359a29cd06b64dcab8588f83441"
                        },
                        {
                            "username": "Aakash Sanandiya",
                            "id": 3,
                            "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xtp1/v/t1.0-1/p160x160/11061947_799115326790805_8296568693751422910_n.jpg?oh=e6c3b0b46c3fd583d36699c802d3ff0e&oe=55C06BF2&__gda__=1443017534_69da4845527d141164d7cc226180dc4e"
                        },
                        {
                            "username": "Vinay Bhinde",
                            "id": 4,
                            "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p160x160/10250076_10206788141324480_8843900904097919506_n.jpg?oh=1c34c6b7f15f563f2169acc22d0c1b2d&oe=55F4080E&__gda__=1441835739_c03a87587ac15600977565c66fc9f653"
                        }
                    ],
                    "comment_count": 4,
                    "comment": {
                        "created_at": "2015-05-30T08:40:51.620Z",
                        "id": 1,
                        "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel lacinia neque. Mauris in egestas risus.",
                        "from": {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/24.jpg"
                        },
                        "like_count": 284,
                        "media": "",
                        "media_type": "",
                        "reply": []
                    },
                    "media_count": 10
                },
                {
                    "name": "Pellentesque habitant morbi tristique",
                    "created_at": "2015-05-30T08:40:51.620Z",
                    "title": "Pellentesque habitant morbi tristique",
                    "slug": "Pellentesque-habitant-morbi-tristique",
                    "is_approved": true,
                    "id": 3,
                    "cover_pic": "http://euro.mediotiempo.com/media/2012/07/02/balotelli.jpg",
                    "small_crop_url": "http://euro.mediotiempo.com/media/2012/07/02/balotelli.jpg",
                    "medium_crop_url": "http://euro.mediotiempo.com/media/2012/07/02/balotelli.jpg",
                    "large_crop_url": "http://euro.mediotiempo.com/media/2012/07/02/balotelli.jpg",
                    "small_crop_id": 1,
                    "medium_crop_id": 1,
                    "large_crop_id": 1,
                    "user": {
                        "id": 1,
                        "username": "Chirag Hindocha",
                        "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/11071599_819587644791290_7954489720289455668_n.jpg?oh=9abf9c5c5c759be68d8572ef77c35934&oe=5609E5F9&__gda__=1442001810_ade896aa7b99459c228a1e3d45c0b441"
                    },
                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla elit et purus luctus tempor. Suspendisse a blandit odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales eu felis et placerat. Aliquam elit massa, gravida in enim lacinia, lobortis cursus tellus.",
                    "throws": [
                        {
                            "type": "fakt",
                            "created_at": "2015-07-09T08:40:51.620Z",
                            "id": 1,
                            "title": "Lorem ipsum dolor sit amet.",
                            "tags": [{
                                "tag": "MESSI",
                                "type": "footballer"
                                },
                                {
                                "tag": "FCB",
                                "type": "club"
                                },
                                {
                                "tag": "NEWS",
                                "type": ""
                                },
                                {
                                "tag": "FANGOL",
                                "type": ""
                                },
                                {
                                "tag": "FUN",
                                "type": ""
                            }],
                            "matches": {},
                            "queue": "waiting",
                            "is_published": true,
                            "is_contest": true,
                            "contest_id": 1,
                            "thumb_url": "http://www.bellanaija.com/wp-content/uploads/2013/12/Super-Eagles-December-2013-BellaNaija.jpg",
                            "medium_url": "http://www.bellanaija.com/wp-content/uploads/2013/12/Super-Eagles-December-2013-BellaNaija.jpg",
                            "large_url": "http://www.bellanaija.com/wp-content/uploads/2013/12/Super-Eagles-December-2013-BellaNaija.jpg",
                            "user": {
                                "id": 1,
                                "username": "martinus",
                                "avatar": "http://api.randomuser.me/portraits/thumb/men/5.jpg"
                            },
                            "description": "",
                            "media": {
                                "url": "http://www.bellanaija.com/wp-content/uploads/2013/12/Super-Eagles-December-2013-BellaNaija.jpg",
                                "thumb_url": "http://www.bellanaija.com/wp-content/uploads/2013/12/Super-Eagles-December-2013-BellaNaija.jpg",
                                "caption": "Hola! Te invito a que visites nuestra cuenta que esta llena de tips y consejos sobre moda, wrzutę, decoracion, DIY, belleza del cuerpo, edits ,tutos y mucho mas!! si nos seguis, te seguimos",
                                "from": "leomessi",
                                "created_at": "20 lip 2015",
                                "index": 1,
                                "is_cover_pic": true,
                                "description": "First Image Description",
                                "like_count": 150,
                                "type": "",
                                "dislike_count": 5
                            },
                            "like_count": 40,
                            "dislike_count": 500,
                            "likes": [
                                {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/6.jpg"
                                },
                                {
                                    "username": "carole",
                                    "id": 2,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                                },
                                {
                                    "username": "angelina",
                                    "id": 3,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                                },
                                {
                                    "username": "teresa",
                                    "id": 4,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                                }
                            ],
                            "comment_count": 215,
                            "text": "Nunc eget massa sit amet ante pulvinar imperdiet. Praesent luctus eu purus non pretium. Cras mollis, neque eget scelerisque egestas, velit erat sollicitudin sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et faucibus felis. Pellentesque magna magna, pharetra non eleifend vitae, imperdiet at mi. Curabitur sodales ornare libero. Proin bibendum consectetur risus quis facilisis. Duis dignissim hendrerit elit at facilisis.",
                            "source": {
                                "source": "santabanta.com",
                                "url": "http://www.bellanaija.com/"
                            },
                            "text_source": "Lipsum",
                            "book_cover": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-27a.jpg",
                            "book_title": "The Real MESSI",
                            "book_author": "Dan Brown",
                            "author_citation": "",
                            "book_publisher": "Westland Publications",
                            "comment": {
                                "created_at": "2015-05-30T08:40:51.620Z",
                                "id": 1,
                                "text": "Vivamus varius pharetra nunc vel molestie. In egestas est dui, ut vulputate urna porta in.",
                                "from": {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/7.jpg"
                                },
                                "like_count": 284,
                                "media": "",
                                "media_type": "",
                                "reply": []
                            }
                        },
                        {
                            "type": "mecze-tv",
                            "created_at": "2015-05-30T08:40:51.620Z",
                            "id": 19,
                            "title": "Duis pulvinar pharetra risus",
                            "tags": [{
                                "tag": "MESSI",
                                "type": "footballer"
                                },
                                {
                                "tag": "FCB",
                                "type": "club"
                                },
                                {
                                "tag": "NEWS",
                                "type": ""
                                },
                                {
                                "tag": "FANGOL",
                                "type": ""
                                },
                                {
                                "tag": "FUN",
                                "type": ""
                            }],
                            "matches": {
                                "date": "2015-09-10",
                                "schedule": [
                                    {
                                        "time": "14:45",
                                        "team_1": "Lechia Gdańsk",
                                        "team_2": "Wisła Kraków",
                                        "league": "T-Mobile Ekstraklasa",
                                        "channel": "Eurosport"
                                    },
                                    {
                                        "time": "15:30",
                                        "team_1": "Lechia Gdańsk",
                                        "team_2": "Wisła Kraków",
                                        "league": "rozgrywki",
                                        "channel": "stacja TV"
                                    },
                                    {
                                        "time": "18:30",
                                        "team_1": "Manchester City",
                                        "team_2": "News Castle",
                                        "league": "Liga Mistrow",
                                        "channel": "Eurosport"
                                    },
                                    {
                                        "time": "19:55",
                                        "team_1": "AS Monaco",
                                        "team_2": "Liverpool",
                                        "league": "T-Mobile Ekstraklasa",
                                        "channel": "Eurosport 2"
                                    },
                                    {
                                        "time": "22:00",
                                        "team_1": "Lechia Gdańsk",
                                        "team_2": "South Hampton",
                                        "league": "rozgrywki",
                                        "channel": "stacja TV"
                                    }
                                ]
                            },
                            "queue": "waiting",
                            "is_published": true,
                            "is_contest": false,
                            "contest_id": "",
                            "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                            "medium_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                            "large_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                            "user": {
                                "id": 1,
                                "username": "martinus",
                                "avatar": "http://api.randomuser.me/portraits/thumb/men/2.jpg"
                            },
                            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla elit et purus luctus tempor. Suspendisse a blandit odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales eu felis et placerat. Aliquam elit massa, gravida in enim lacinia, lobortis cursus tellus. In ullamcorper augue dolor, at efficitur dolor egestas nec. Ut varius lacus vitae dui sagittis luctus.",
                            "media": {
                                "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-24a.jpg",
                                "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                                "caption": "",
                                "from": "",
                                "created_at": "",
                                "index": 1,
                                "is_cover_pic": true,
                                "description": "First Image Description",
                                "like_count": 150,
                                "type": "",
                                "dislike_count": 5
                            },
                            "like_count": 4,
                            "dislike_count": 50,
                            "likes": [
                                {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/2.jpg"
                                },
                                {
                                    "username": "carole",
                                    "id": 2,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                                },
                                {
                                    "username": "angelina",
                                    "id": 3,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                                },
                                {
                                    "username": "teresa",
                                    "id": 4,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                                }
                            ],
                            "comment_count": 2,
                            "text": "",
                            "source": "",
                            "text_source": "",
                            "book_cover": "",
                            "book_title": "",
                            "book_author": "Dan Brown",
                            "author_citation": "",
                            "book_publisher": "",
                            "comment": {
                                "created_at": "2015-05-30T08:40:51.620Z",
                                "id": 1,
                                "text": "Vivamus rutrum condimentum nibh",
                                "from": {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/2.jpg"
                                },
                                "like_count": 284,
                                "media": "",
                                "media_type": "",
                                "reply": []
                            }
                        },
                        {
                            "type": "news",
                            "created_at": "2015-07-09T08:40:51.620Z",
                            "id": 2,
                            "title": "Fusce fringilla felis lorem.",
                            "tags": [{
                                "tag": "MESSI",
                                "type": "footballer"
                                },
                                {
                                "tag": "FCB",
                                "type": "club"
                                },
                                {
                                "tag": "NEWS",
                                "type": ""
                                },
                                {
                                "tag": "FANGOL",
                                "type": ""
                                },
                                {
                                "tag": "FUN",
                                "type": ""
                            }],
                            "matches": {},
                            "queue": "waiting",
                            "is_published": true,
                            "is_contest": true,
                            "contest_id": 2,
                            "thumb_url": "https://faisal080.files.wordpress.com/2012/11/marcus_2545603.jpg?w=640&h=480",
                            "medium_url": "https://faisal080.files.wordpress.com/2012/11/marcus_2545603.jpg?w=640&h=480",
                            "large_url": "https://faisal080.files.wordpress.com/2012/11/marcus_2545603.jpg?w=640&h=480",
                            "user": {
                                "id": 1,
                                "username": "martinus",
                                "avatar": "http://api.randomuser.me/portraits/thumb/men/8.jpg"
                            },
                            "description": "",
                            "media": {
                                "url": "https://faisal080.files.wordpress.com/2012/11/marcus_2545603.jpg?w=640&h=480",
                                "thumb_url": "https://faisal080.files.wordpress.com/2012/11/marcus_2545603.jpg?w=640&h=480",
                                "caption": "Hola! Te invito a que visites nuestra cuenta que esta llena de tips y consejos sobre moda, wrzutę, decoracion, DIY, belleza del cuerpo, edits ,tutos y mucho mas!! si nos seguis, te seguimos",
                                "from": "leomessi",
                                "created_at": "20 lip 2015",
                                "index": 1,
                                "is_cover_pic": true,
                                "description": "First Image Description",
                                "like_count": 150,
                                "type": "",
                                "dislike_count": 5
                            },
                            "like_count": 40,
                            "dislike_count": 500,
                            "likes": [
                                {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/9.jpg"
                                },
                                {
                                    "username": "carole",
                                    "id": 2,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                                },
                                {
                                    "username": "angelina",
                                    "id": 3,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                                },
                                {
                                    "username": "teresa",
                                    "id": 4,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                                }
                            ],
                            "comment_count": 34,
                            "text": "Fusce fringilla felis lorem, non dapibus libero sagittis nec. Sed lobortis nibh tristique porttitor malesuada. Proin fringilla iaculis ex, ut pretium dolor egestas eget. Aenean tincidunt scelerisque libero sit amet imperdiet. Aenean tincidunt odio elit, quis maximus lorem pharetra ac. Nullam et eros erat.",
                            "source": {
                                "source": "santabanta.com",
                                "url": ""
                            },
                            "text_source": "Lipsum",
                            "book_cover": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-27a.jpg",
                            "book_title": "The Real MESSI",
                            "book_author": "Dan Brown",
                            "author_citation": "",
                            "book_publisher": "Westland Publications",
                            "comment": {
                                "created_at": "2015-05-30T08:40:51.620Z",
                                "id": 1,
                                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel lacinia neque. Mauris in egestas risus.",
                                "from": {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/10.jpg"
                                },
                                "like_count": 284,
                                "media": "",
                                "media_type": "",
                                "reply": []
                            }
                        },
                        {
                            "type": "rozkminka",
                            "created_at": "2015-07-09T08:40:51.620Z",
                            "id": 3,
                            "title": "Cras vel sem ac augue congue.",
                            "tags": [{
                                "tag": "MESSI",
                                "type": "footballer"
                                },
                                {
                                "tag": "FCB",
                                "type": "club"
                                },
                                {
                                "tag": "NEWS",
                                "type": ""
                                },
                                {
                                "tag": "FANGOL",
                                "type": ""
                                },
                                {
                                "tag": "FUN",
                                "type": ""
                            }],
                            "matches": {},
                            "queue": "waiting",
                            "is_published": true,
                            "is_contest": false,
                            "contest_id": "",
                            "thumb_url": "http://guardianlv.com/wp-content/uploads/2015/06/Google-Says-There-Are-More-Searches-for-Womens-Football-Than-Mens.jpg",
                            "medium_url": "http://guardianlv.com/wp-content/uploads/2015/06/Google-Says-There-Are-More-Searches-for-Womens-Football-Than-Mens.jpg",
                            "large_url": "http://guardianlv.com/wp-content/uploads/2015/06/Google-Says-There-Are-More-Searches-for-Womens-Football-Than-Mens.jpg",
                            "user": {
                                "id": 1,
                                "username": "martinus",
                                "avatar": "http://api.randomuser.me/portraits/thumb/men/11.jpg"
                            },
                            "description": "",
                            "media": {
                                "url": "http://guardianlv.com/wp-content/uploads/2015/06/Google-Says-There-Are-More-Searches-for-Womens-Football-Than-Mens.jpg",
                                "thumb_url": "http://guardianlv.com/wp-content/uploads/2015/06/Google-Says-There-Are-More-Searches-for-Womens-Football-Than-Mens.jpg",
                                "caption": "Hola! Te invito a que visites nuestra cuenta que esta llena de tips y consejos sobre moda, wrzutę, decoracion, DIY, belleza del cuerpo, edits ,tutos y mucho mas!! si nos seguis, te seguimos",
                                "from": "leomessi",
                                "created_at": "20 lip 2015",
                                "index": 1,
                                "is_cover_pic": true,
                                "description": "First Image Description",
                                "like_count": 150,
                                "type": "",
                                "dislike_count": 5
                            },
                            "like_count": 40,
                            "dislike_count": 500,
                            "likes": [
                                {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/12.jpg"
                                },
                                {
                                    "username": "carole",
                                    "id": 2,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                                },
                                {
                                    "username": "angelina",
                                    "id": 3,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                                },
                                {
                                    "username": "teresa",
                                    "id": 4,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                                }
                            ],
                            "comment_count": 4,
                            "text": "Ut sollicitudin varius lorem sed lobortis. Aenean turpis lorem, tristique sit amet scelerisque vitae, bibendum nec ante. Aenean tincidunt scelerisque libero sit amet imperdiet. Aenean tincidunt odio elit, quis maximus lorem pharetra ac. Mauris a libero sed dui sodales dignissim ac eget nibh. Suspendisse erat ex, mollis vitae erat et, egestas bibendum massa.",
                            "source": {
                                "source": "santabanta.com",
                                "url": ""
                            },
                            "text_source": "Lipsum",
                            "book_cover": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-27a.jpg",
                            "book_title": "The Real MESSI",
                            "book_author": "Dan Brown",
                            "author_citation": "",
                            "book_publisher": "Westland Publications",
                            "comment": {
                                "created_at": "2015-05-30T08:40:51.620Z",
                                "id": 1,
                                "text": "Fusce rutrum luctus lectus a blandit. Vestibulum non feugiat sapien, nec pharetra justo. Nulla pellentesque, dui non pretium imperdiet, eros ante mollis felis.",
                                "from": {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/13.jpg"
                                },
                                "like_count": 284,
                                "media": "",
                                "media_type": "",
                                "reply": []
                            }
                        },
                        {
                            "type": "taktyka",
                            "created_at": "2015-07-09T08:40:51.620Z",
                            "id": 5,
                            "title": "Interdum et malesuada.",
                            "tags": [{
                                "tag": "MESSI",
                                "type": "footballer"
                                },
                                {
                                "tag": "FCB",
                                "type": "club"
                                },
                                {
                                "tag": "NEWS",
                                "type": ""
                                },
                                {
                                "tag": "FANGOL",
                                "type": ""
                                },
                                {
                                "tag": "FUN",
                                "type": ""
                            }],
                            "matches": {},
                            "queue": "waiting",
                            "is_published": true,
                            "is_contest": false,
                            "contest_id": "",
                            "thumb_url": "http://images1.houstonpress.com/imager/u/blog/7621521/rice_stadium.jpg",
                            "medium_url": "http://images1.houstonpress.com/imager/u/blog/7621521/rice_stadium.jpg",
                            "large_url": "http://images1.houstonpress.com/imager/u/blog/7621521/rice_stadium.jpg",
                            "user": {
                                "id": 1,
                                "username": "martinus",
                                "avatar": "http://api.randomuser.me/portraits/thumb/men/17.jpg"
                            },
                            "description": "",
                            "media": {
                                "url": "http://images1.houstonpress.com/imager/u/blog/7621521/rice_stadium.jpg",
                                "thumb_url": "http://images1.houstonpress.com/imager/u/blog/7621521/rice_stadium.jpg",
                                "caption": "Hola! Te invito a que visites nuestra cuenta que esta llena de tips y consejos sobre moda, wrzutę, decoracion, DIY, belleza del cuerpo, edits ,tutos y mucho mas!! si nos seguis, te seguimos",
                                "from": "leomessi",
                                "created_at": "20 lip 2015",
                                "index": 1,
                                "is_cover_pic": true,
                                "description": "First Image Description",
                                "like_count": 150,
                                "type": "",
                                "dislike_count": 5
                            },
                            "like_count": 40,
                            "dislike_count": 500,
                            "likes": [
                                {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/18.jpg"
                                },
                                {
                                    "username": "carole",
                                    "id": 2,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                                },
                                {
                                    "username": "angelina",
                                    "id": 3,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                                },
                                {
                                    "username": "teresa",
                                    "id": 4,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                                }
                            ],
                            "comment_count": 167,
                            "text": "Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vulputate mauris et auctor egestas. Curabitur nisi leo, facilisis nec rutrum vel, egestas eu lectus. Mauris a libero sed dui sodales dignissim ac eget nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et faucibus felis. Pellentesque magna magna, pharetra non eleifend vitae, imperdiet at mi. Fusce fringilla felis lorem.",
                            "source": {
                                "source": "santabanta.com",
                                "url": ""
                            },
                            "text_source": "Lipsum",
                            "book_cover": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-27a.jpg",
                            "book_title": "The Real MESSI",
                            "book_author": "Dan Brown",
                            "author_citation": "",
                            "book_publisher": "Westland Publications",
                            "comment": {
                                "created_at": "2015-05-30T08:40:51.620Z",
                                "id": 1,
                                "text": "Ut sodales nulla sed nisl tincidunt, ac pulvinar arcu auctor. Phasellus feugiat sapien eu augue tristique accumsan.",
                                "from": {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/19.jpg"
                                },
                                "like_count": 284,
                                "media": "",
                                "media_type": "",
                                "reply": []
                            }
                        },
                        {
                            "type": "statystyka",
                            "created_at": "2015-07-09T08:40:51.620Z",
                            "id": 58,
                            "next_id": 1,
                            "prev_id": 2,
                            "title": "Phasellus quis imperdiet.",
                            "tags": [{
                                "tag": "MESSI",
                                "type": "footballer"
                                },
                                {
                                "tag": "FCB",
                                "type": "club"
                                },
                                {
                                "tag": "NEWS",
                                "type": ""
                                },
                                {
                                "tag": "FANGOL",
                                "type": ""
                                },
                                {
                                "tag": "FUN",
                                "type": ""
                            }],
                            "matches": {},
                            "queue": "waiting",
                            "is_published": true,
                            "is_contest": false,
                            "contest_id": "",
                            "thumb_url": "http://images.gmanews.tv/v3/webpics/v3/2014/03/2014_03_05_14_25_43.jpg",
                            "medium_url": "http://images.gmanews.tv/v3/webpics/v3/2014/03/2014_03_05_14_25_43.jpg",
                            "large_url": "http://images.gmanews.tv/v3/webpics/v3/2014/03/2014_03_05_14_25_43.jpg",
                            "user": {
                                "id": 1,
                                "username": "martinus",
                                "avatar": "http://api.randomuser.me/portraits/thumb/men/20.jpg"
                            },
                            "media": {
                                "url": "http://images.gmanews.tv/v3/webpics/v3/2014/03/2014_03_05_14_25_43.jpg",
                                "thumb_url": "http://images.gmanews.tv/v3/webpics/v3/2014/03/2014_03_05_14_25_43.jpg",
                                "caption": "Hola! Te invito a que visites nuestra cuenta que esta llena de tips y consejos sobre moda, wrzutę, decoracion, DIY, belleza del cuerpo, edits ,tutos y mucho mas!! si nos seguis, te seguimos",
                                "from": "leomessi",
                                "created_at": "20 lip 2015",
                                "index": 1,
                                "is_cover_pic": true,
                                "description": "First Image Description",
                                "like_count": 150,
                                "type": "",
                                "dislike_count": 5
                            },
                            "like_count": 40,
                            "vote_count": 946,
                            "dislike_count": 500,
                            "likes": [
                                {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/21.jpg"
                                },
                                {
                                    "username": "carole",
                                    "id": 2,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                                },
                                {
                                    "username": "angelina",
                                    "id": 3,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                                },
                                {
                                    "username": "teresa",
                                    "id": 4,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                                }
                            ],
                            "comment_count": 10,
                            "description": "In augue risus, suscipit at arcu quis, mattis ullamcorper sapien. Praesent tincidunt neque nec neque vulputate aliquet. Donec varius est porttitor accumsan vestibulum. Phasellus mattis ultrices mattis. Etiam rhoncus semper tellus, sit amet malesuada odio ullamcorper at. Vestibulum placerat viverra porta. Duis posuere magna eu lacus interdum, at mattis sem ultricies. Aliquam scelerisque ac ante et interdum. Aliquam consequat lorem sed libero tincidunt.",
                            "text": "",
                            "source": {
                                "source": "santabanta.com",
                                "url": ""
                            },
                            "text_source": "",
                            "book_cover": "",
                            "book_title": "",
                            "book_author": "",
                            "author_citation": "",
                            "book_publisher": "",
                            "comment": {
                                "created_at": "2015-05-30T08:40:51.620Z",
                                "id": 1,
                                "text": "Donec congue lacinia sapien, et convallis purus lobortis et. In sit amet ligula molestie, commodo risus quis, sagittis erat. Quisque a ex pharetra, iaculis augue eget, vehicula mauris.",
                                "from": {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/22.jpg"
                                },
                                "like_count": 284,
                                "media": "",
                                "media_type": "",
                                "reply": []
                            }
                        },
                        {
                            "type": "news",
                            "created_at": "2015-07-09T08:40:51.620Z",
                            "id": 2,
                            "title": "Fusce fringilla felis lorem.",
                            "tags": [{
                                "tag": "MESSI",
                                "type": "footballer"
                                },
                                {
                                "tag": "FCB",
                                "type": "club"
                                },
                                {
                                "tag": "NEWS",
                                "type": ""
                                },
                                {
                                "tag": "FANGOL",
                                "type": ""
                                },
                                {
                                "tag": "FUN",
                                "type": ""
                            }],
                            "matches": {},
                            "queue": "waiting",
                            "is_published": true,
                            "is_contest": true,
                            "contest_id": 2,
                            "thumb_url": "https://faisal080.files.wordpress.com/2012/11/marcus_2545603.jpg?w=640&h=480",
                            "medium_url": "https://faisal080.files.wordpress.com/2012/11/marcus_2545603.jpg?w=640&h=480",
                            "large_url": "https://faisal080.files.wordpress.com/2012/11/marcus_2545603.jpg?w=640&h=480",
                            "user": {
                                "id": 1,
                                "username": "martinus",
                                "avatar": "http://api.randomuser.me/portraits/thumb/men/8.jpg"
                            },
                            "description": "",
                            "media": {
                                "url": "https://faisal080.files.wordpress.com/2012/11/marcus_2545603.jpg?w=640&h=480",
                                "thumb_url": "https://faisal080.files.wordpress.com/2012/11/marcus_2545603.jpg?w=640&h=480",
                                "caption": "Hola! Te invito a que visites nuestra cuenta que esta llena de tips y consejos sobre moda, wrzutę, decoracion, DIY, belleza del cuerpo, edits ,tutos y mucho mas!! si nos seguis, te seguimos",
                                "from": "leomessi",
                                "created_at": "20 lip 2015",
                                "index": 1,
                                "is_cover_pic": true,
                                "description": "First Image Description",
                                "like_count": 150,
                                "type": "",
                                "dislike_count": 5
                            },
                            "like_count": 40,
                            "dislike_count": 500,
                            "likes": [
                                {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/9.jpg"
                                },
                                {
                                    "username": "carole",
                                    "id": 2,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                                },
                                {
                                    "username": "angelina",
                                    "id": 3,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                                },
                                {
                                    "username": "teresa",
                                    "id": 4,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                                }
                            ],
                            "comment_count": 34,
                            "text": "Fusce fringilla felis lorem, non dapibus libero sagittis nec. Sed lobortis nibh tristique porttitor malesuada. Proin fringilla iaculis ex, ut pretium dolor egestas eget. Aenean tincidunt scelerisque libero sit amet imperdiet. Aenean tincidunt odio elit, quis maximus lorem pharetra ac. Nullam et eros erat.",
                            "source": {
                                "source": "santabanta.com",
                                "url": ""
                            },
                            "text_source": "Lipsum",
                            "book_cover": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-27a.jpg",
                            "book_title": "The Real MESSI",
                            "book_author": "Dan Brown",
                            "author_citation": "",
                            "book_publisher": "Westland Publications",
                            "comment": {
                                "created_at": "2015-05-30T08:40:51.620Z",
                                "id": 1,
                                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel lacinia neque. Mauris in egestas risus.",
                                "from": {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/10.jpg"
                                },
                                "like_count": 284,
                                "media": "",
                                "media_type": "",
                                "reply": []
                            }
                        },
                        {
                            "type": "foto",
                            "created_at": "2015-05-30T08:40:51.620Z",
                            "id": 10,
                            "title": "Lorem ipsum dolor sit amet, consectetur",
                            "tags": [{
                                "tag": "MESSI",
                                "type": "footballer"
                                },
                                {
                                "tag": "FCB",
                                "type": "club"
                                },
                                {
                                "tag": "NEWS",
                                "type": ""
                                },
                                {
                                "tag": "FANGOL",
                                "type": ""
                                },
                                {
                                "tag": "FUN",
                                "type": ""
                            }],
                            "matches": {},
                            "queue": "waiting",
                            "is_published": true,
                            "is_contest": false,
                            "contest_id": "",
                            "thumb_url": "http://seagames2015live.com/wp-content/uploads/2015/06/indonesia-vs-philippines-football.jpg",
                            "medium_url": "http://seagames2015live.com/wp-content/uploads/2015/06/indonesia-vs-philippines-football.jpg",
                            "large_url": "http://seagames2015live.com/wp-content/uploads/2015/06/indonesia-vs-philippines-football.jpg",
                            "user": {
                                "id": 1,
                                "username": "martinus",
                                "avatar": "http://api.randomuser.me/portraits/thumb/men/31.jpg"
                            },
                            "description": "Quisque neque mauris, cursus a eros ac, laoreet tincidunt metus. Mauris ac semper velit. Donec congue egestas tortor sed ultrices. Nulla tincidunt libero justo, ut dapibus sem pulvinar id. In mollis faucibus sem, vitae eleifend sem posuere nec. Donec eget diam ac libero imperdiet sagittis",
                            "media": {
                                "url": "http://seagames2015live.com/wp-content/uploads/2015/06/indonesia-vs-philippines-football.jpg",
                                "thumb_url": "http://seagames2015live.com/wp-content/uploads/2015/06/indonesia-vs-philippines-football.jpg",
                                "caption": "http://seagames2015live.com/wp-content/uploads/2015/06/indonesia-vs-philippines-football.jpg",
                                "from": "",
                                "created_at": "",
                                "index": 1,
                                "is_cover_pic": true,
                                "description": "First Image Description",
                                "like_count": 150,
                                "type": "",
                                "dislike_count": 5
                            },
                            "like_count": 95,
                            "dislike_count": 24,
                            "likes": [
                                {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/32.jpg"
                                },
                                {
                                    "username": "carole",
                                    "id": 2,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                                },
                                {
                                    "username": "angelina",
                                    "id": 3,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                                },
                                {
                                    "username": "teresa",
                                    "id": 4,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                                }
                            ],
                            "comment_count": 98,
                            "text": "",
                            "source": {
                                "source": "santabanta.com",
                                "url": ""
                            },
                            "text_source": "",
                            "book_cover": "",
                            "book_title": "",
                            "book_author": "",
                            "author_citation": "",
                            "book_publisher": "",
                            "comment": {
                                "created_at": "2015-05-30T08:40:51.620Z",
                                "id": 1,
                                "text": "Vivamus rutrum condimentum nibh",
                                "from": {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/33.jpg"
                                },
                                "like_count": 284,
                                "media": "",
                                "media_type": "",
                                "reply": []
                            }
                        },
                        {
                            "type": "cytat",
                            "created_at": "2015-05-30T08:40:51.620Z",
                            "id": 11,
                            "title": "Aliquam diam leo, sagittis tellus.",
                            "tags": [{
                                "tag": "MESSI",
                                "type": "footballer"
                                },
                                {
                                "tag": "FCB",
                                "type": "club"
                                },
                                {
                                "tag": "NEWS",
                                "type": ""
                                },
                                {
                                "tag": "FANGOL",
                                "type": ""
                                },
                                {
                                "tag": "FUN",
                                "type": ""
                            }],
                            "matches": {},
                            "queue": "waiting",
                            "is_published": true,
                            "is_contest": false,
                            "contest_id": "",
                            "thumb_url": "http://media.2oceansvibe.com/wp-content/uploads/2014/10/128555.jpg",
                            "medium_url": "http://media.2oceansvibe.com/wp-content/uploads/2014/10/128555.jpg",
                            "large_url": "http://media.2oceansvibe.com/wp-content/uploads/2014/10/128555.jpg",
                            "user": {
                                "id": 1,
                                "username": "martinus",
                                "avatar": "http://api.randomuser.me/portraits/thumb/men/34.jpg"
                            },
                            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla elit et purus luctus tempor. Suspendisse a blandit odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales eu felis et placerat. Aliquam elit massa, gravida in enim lacinia, lobortis cursus tellus. In ullamcorper augue dolor, at efficitur dolor egestas nec. Ut varius lacus vitae dui sagittis luctus.",
                            "media": {
                                "url": "http://media.2oceansvibe.com/wp-content/uploads/2014/10/128555.jpg",
                                "thumb_url": "http://media.2oceansvibe.com/wp-content/uploads/2014/10/128555.jpg",
                                "caption": "",
                                "from": "",
                                "created_at": "",
                                "index": 1,
                                "is_cover_pic": true,
                                "description": "First Image Description",
                                "like_count": 150,
                                "type": "",
                                "dislike_count": 5
                            },
                            "like_count": 840,
                            "dislike_count": 127,
                            "likes": [
                                {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/35.jpg"
                                },
                                {
                                    "username": "carole",
                                    "id": 2,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                                },
                                {
                                    "username": "angelina",
                                    "id": 3,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                                },
                                {
                                    "username": "teresa",
                                    "id": 4,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                                }
                            ],
                            "comment_count": 64,
                            "text": "Lionel Andres Leo Messi Cuccittini is an Argentine professional footballer who plays for Spanish club FC Barcelona and the Argentina national team as a forward, and is also the captain of the national team.",
                            "source": {
                                "source": "santabanta.com",
                                "url": ""
                            },
                            "text_source": "",
                            "book_cover": "",
                            "book_title": "",
                            "book_author": "",
                            "author_citation": "weszlo.com",
                            "book_publisher": "",
                            "comment": {
                                "created_at": "2015-05-30T08:40:51.620Z",
                                "id": 1,
                                "text": "Vivamus rutrum condimentum nibh",
                                "from": {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/36.jpg"
                                },
                                "like_count": 284,
                                "media": "",
                                "media_type": "",
                                "reply": []
                            }
                        },
                        {
                            "type": "ciekawostka",
                            "created_at": "2015-05-30T08:40:51.620Z",
                            "id": 12,
                            "title": "Suspendisse gravida nisi eu elit",
                            "tags": [{
                                "tag": "MESSI",
                                "type": "footballer"
                                },
                                {
                                "tag": "FCB",
                                "type": "club"
                                },
                                {
                                "tag": "NEWS",
                                "type": ""
                                },
                                {
                                "tag": "FANGOL",
                                "type": ""
                                },
                                {
                                "tag": "FUN",
                                "type": ""
                            }],
                            "matches": {},
                            "queue": "waiting",
                            "is_published": true,
                            "is_contest": false,
                            "contest_id": "",
                            "thumb_url": "http://media.graytvinc.com/images/FIFA12.jpg",
                            "medium_url": "http://media.graytvinc.com/images/FIFA12.jpg",
                            "large_url": "http://media.graytvinc.com/images/FIFA12.jpg",
                            "user": {
                                "id": 1,
                                "username": "martinus",
                                "avatar": "http://api.randomuser.me/portraits/thumb/men/37.jpg"
                            },
                            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla elit et purus luctus tempor. Suspendisse a blandit odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales eu felis et placerat. Aliquam elit massa, gravida in enim lacinia, lobortis cursus tellus. In ullamcorper augue dolor, at efficitur dolor egestas nec. Ut varius lacus vitae dui sagittis luctus.",
                            "media": {
                                "url": "http://media.graytvinc.com/images/FIFA12.jpg",
                                "thumb_url": "http://media.graytvinc.com/images/FIFA12.jpg",
                                "caption": "",
                                "from": "",
                                "created_at": "",
                                "index": 1,
                                "is_cover_pic": true,
                                "description": "First Image Description",
                                "like_count": 150,
                                "type": "",
                                "dislike_count": 5
                            },
                            "like_count": 486,
                            "dislike_count": 4,
                            "likes": [
                                {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/38.jpg"
                                },
                                {
                                    "username": "carole",
                                    "id": 2,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                                },
                                {
                                    "username": "angelina",
                                    "id": 3,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                                },
                                {
                                    "username": "teresa",
                                    "id": 4,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                                }
                            ],
                            "comment_count": 81,
                            "text": "In lobortis arcu eu blandit feugiat. Donec vestibulum justo nec ante convallis maximus. Etiam in libero erat. Quisque malesuada diam sapien, at dignissim purus vulputate et. Proin at semper lorem. Ut sagittis placerat urna, et varius magna lacinia et. Integer a suscipit orci. Aenean congue tortor vitae mauris cursus hendrerit. Fusce aliquet dictum sapien ut aliquet. Nulla pulvinar, est in aliquet fringilla, risus libero gravida arcu, non lobortis elit massa at est. Aliquam erat volutpat.",
                            "source": {
                                "source": "anet.pl",
                                "url": ""
                            },
                            "text_source": "Lipsum",
                            "book_cover": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-27a.jpg",
                            "book_title": "The Real MESSI",
                            "book_author": "Dan Brown",
                            "author_citation": "",
                            "book_publisher": "Westland Publications",
                            "comment": {
                                "created_at": "2015-05-30T08:40:51.620Z",
                                "id": 1,
                                "text": "Vivamus rutrum condimentum nibh",
                                "from": {
                                    "username": "martinus",
                                    "id": 1,
                                    "avatar": "http://api.randomuser.me/portraits/thumb/men/39.jpg"
                                },
                                "like_count": 284,
                                "media": "",
                                "media_type": "",
                                "reply": []
                            }
                        }
                    ],
                    "like_count": 382,
                    "dislike_count": 128,
                    "likes": [
                        {
                            "username": "Chirag Hindocha",
                            "id": 1,
                            "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/11071599_819587644791290_7954489720289455668_n.jpg?oh=9abf9c5c5c759be68d8572ef77c35934&oe=5609E5F9&__gda__=1442001810_ade896aa7b99459c228a1e3d45c0b441"
                        },
                        {
                            "username": "Vivek Satasiya",
                            "id": 2,
                            "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/c40.0.160.160/p160x160/10547708_4585660257513_3847536534524271235_n.jpg?oh=617d1f22a4bd998fa90f2ca3a3cba8f2&oe=55EC8688&__gda__=1443560663_a2ac9359a29cd06b64dcab8588f83441"
                        },
                        {
                            "username": "Aakash Sanandiya",
                            "id": 3,
                            "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xtp1/v/t1.0-1/p160x160/11061947_799115326790805_8296568693751422910_n.jpg?oh=e6c3b0b46c3fd583d36699c802d3ff0e&oe=55C06BF2&__gda__=1443017534_69da4845527d141164d7cc226180dc4e"
                        },
                        {
                            "username": "Vinay Bhinde",
                            "id": 4,
                            "avatar": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p160x160/10250076_10206788141324480_8843900904097919506_n.jpg?oh=1c34c6b7f15f563f2169acc22d0c1b2d&oe=55F4080E&__gda__=1441835739_c03a87587ac15600977565c66fc9f653"
                        }
                    ],
                    "comment_count": 4,
                    "comment": {
                        "created_at": "2015-05-30T08:40:51.620Z",
                        "id": 1,
                        "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel lacinia neque. Mauris in egestas risus.",
                        "from": {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/24.jpg"
                        },
                        "like_count": 284,
                        "media": "",
                        "media_type": "",
                        "reply": []
                    },
                    "media_count": 10
                }
            ]
            
## Footballers/clubs gallery collection [/galleries/other{?footballer_id,club_id,limit,page}]

+ Parameters
    + page: 1
    + limit: 10
    + footballer_id: 1
    + club_id: 1

### List All Galleries [GET]

+ Response 200 (application/json)

    + Body

            [
                {
                    "name": "Messi",
                    "created_at": "2015-05-30T08:40:51.620Z",
                    "title": "Lorem ipsum dolor",
                    "slug" : "lorem-upsum-dolor-sit-amet",
                    "is_approved": true,
                    "id": 1,
                    "small_crop_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
[...]
