FORMAT: 1A
HOST: http://fangol.apiary.io/

# Throws API

Throws is a simple API allowing users to view throws & create their own test github sync.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)

        {
            "throws_url": "/throws"
        }
        
## Group Throw

Resources related to throws in the API.

## Throw [/throws{?id}]

A Throw object has the following attributes:

+ type - Type of throw. eg instagram, twitter, sondy etc.
+ created_at - Date when the throw was created.
+ title - Title of the throw.
+ tags - An array containing tags in the post.
+ user - An object indicating user unformation. The user who created the throw.
+ description - Description of the throw.
+ media - An object containing media url, caption.
+ like_count - The number of likes for the throw.
+ likes - An array containing the user information who have liked the throw.
+ comment_count - The number of comments in the throw.
+ comment - An object containing the latest comment on the throw.
+ media_count - The number of media in the throw.
+ id - The unique ID representing the throw.
+ thumb_url - Throw thumbnail image url.
+ medium_url - Throw medium image url.
+ large_url - Throw large image url.
+ media.type - For instagram & multiwlepa type of throw stating if the media type is image or video.
+ queue - A value indicating whether the throw has been approved by Admin. It has 3 states for now.
+ is_contest - Boolean value indicating whether the throw is marked as a competition.
+ contest_id - In case if the throw-in is marked as a competition, the id of the competition.
+ matches - An object containing match schedule information. This attribute will have value only in case of mecze type of throw. it will be null in all other cases.

+ Parameters
    + id: 1 (required, number) - ID of the Throw in form of an integer
    
### View a Throw Detail [GET]

+ Response 200 (application/json)

        {
            "type": "news",
            "created_at": "2015-07-09T08:40:51.620Z",
            "id": 96,
            "next_id": 1,
            "prev_id": 2,
            "title": "Fusce fringilla felis lorem.",
            "slug" : "lorem-upsum-dolor-sit-amet",
            "tags": [{
                "tag": "MESSI",
                "type": "footballer"
                },
                {
                "tag": "FCB",
                "type": "club"
                },
                {
                "tag": "NEWS",
                "type": ""
                },
                {
                "tag": "FANGOL",
                "type": ""
                },
                {
                "tag": "FUN",
                "type": ""
            }],
            "matches": {},
            "queue": "waiting",
            "is_published": true,
            "is_contest": true,
            "contest_id": 1,
            "contest_banner": "http://starobserver.com.au.s3.amazonaws.com/wp-content/uploads/2013/03/soccer-banner.jpg",
            "contest_title": "MUDNIAL 2014",
            "thumb_url": "http://media1.santabanta.com/full5/Football/Neymar/neymar-12a.jpg",
            "medium_url": "http://media1.santabanta.com/full5/Football/Neymar/neymar-12a.jpg",
            "large_url": "http://media1.santabanta.com/full5/Football/Neymar/neymar-12a.jpg",
            "user": {
                "id": 10,
                "username": "martinus",
                "avatar": "http://api.randomuser.me/portraits/thumb/men/8.jpg"
            },
            "description": "",
            "media": {
                "url": "http://media1.santabanta.com/full5/Football/Neymar/neymar-12a.jpg",
                "thumb_url": "http://media1.santabanta.com/full5/Football/Neymar/neymar-12a.jpg",
                "caption": "Hola! Te invito a que visites nuestra cuenta que esta llena de tips y consejos sobre moda, wrzutę, decoracion, DIY, belleza del cuerpo, edits ,tutos y mucho mas!! si nos seguis, te seguimos",
                "from": "leomessi",
                "created_at": "20 lip 2015",
                "index": 1,
                "is_cover_pic": true,
                "description": "First Image Description",
                "like_count": 150,
                "type": "",
                "dislike_count": 5
            },
            "like_count": 40,
            "dislike_count": 500,
            "vote_count": 3254,
            "likes": [{
                "username": "martinus",
                "id": 1,
                "avatar": "http://api.randomuser.me/portraits/thumb/men/9.jpg"
            }, {
                "username": "carole",
                "id": 2,
                "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
            }, {
                "username": "angelina",
                "id": 3,
                "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
            }, {
                "username": "teresa",
                "id": 4,
                "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
            }],
            "comment_count": 10,
            "text": "Fusce fringilla felis lorem, non dapibus libero sagittis nec. Sed lobortis nibh tristique porttitor malesuada. Proin fringilla iaculis ex, ut pretium dolor egestas eget. Aenean tincidunt scelerisque libero sit amet imperdiet. Aenean tincidunt odio elit, quis maximus lorem pharetra ac. Nullam et eros erat.",
            "source": {
                "source": "santabanta.com",
                "url": ""
            },
            "text_source": "",
            "book_cover": "",
            "book_title": "",
            "book_author": "",
            "author_citation": "",
            "book_publisher": "",
            "meta_description": "Fusce fringilla felis lorem, non dapibus libero sagittis nec. Sed lobortis nibh tristique porttitor malesuada. Proin fringilla iaculis ex, ut pretium dolor egestas eget. Aenean tincidunt scelerisque libero sit amet imperdiet. Aenean tincidunt odio elit, quis maximus lorem pharetra ac. Nullam et eros erat.",
            "og_title": "Fusce fringilla felis lorem (og_title).",
            "og_description": "Fusce fringilla felis lorem, non dapibus libero sagittis nec. Sed lobortis nibh tristique porttitor malesuada. Proin fringilla iaculis ex, ut pretium dolor egestas eget. Aenean tincidunt scelerisque libero sit amet imperdiet. Aenean tincidunt odio elit, quis maximus lorem pharetra ac. Nullam et eros erat.",
            "og_image_url": "http://media1.santabanta.com/full5/Football/Neymar/neymar-12a.jpg",
            "comment": {
                "created_at": "2015-05-30T08:40:51.620Z",
                "id": 1,
                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel lacinia neque. Mauris in egestas risus.",
                "from": {
                    "username": "martinus",
                    "id": 1,
                    "avatar": "http://api.randomuser.me/portraits/thumb/men/10.jpg"
                },
                "like_count": 284,
                "media": "",
                "media_type": "",
                "reply": []
            }
        }
        
## Throws Collection [/throws{?limit,page,sort,type,tags,q,user_id,contest_id,queue,timeframe}]

+ Parameters
    + page: 1
    + limit: 10
    + sort: "najlepsze"
    + type: ["fakt", "foto"]
    + tags: ["MESSI", "RONALDO"]
    + q: "wczoraj"
    + user_id: 1
    + contest_id: 1
    + queue: waiting
    + timeframe: lastday
    
### List All Throws [GET]

+ Response 200 (application/json)

    + Headers
    
            Cache-Control: private, max-age=1000000, no-cache
    
    + Body

            [
                {
                    "type": "fakt",
                    "created_at": "2015-07-09T08:40:51.620Z",
                    "id": 1,
                    "next_id": 1,
                    "prev_id": 2,
                    "title": "Lorem ipsum dolor sit amet.",
                    "slug": "lorem-ipsum-dolor-sit-amet", 
                    "tags": [{
                        "tag": "MESSI",
                        "type": "footballer"
                        },
                        {
                        "tag": "FCB",
                        "type": "club"
                        },
                        {
                        "tag": "NEWS",
                        "type": ""
                        },
                        {
                        "tag": "FANGOL",
                        "type": ""
                        },
                        {
                        "tag": "FUN",
                        "type": ""
                    }],
                    "matches": {},
                    "queue": "waiting",
                    "is_published": true,
                    "is_contest": true,
                    "contest_id": 1,
                    "contest_banner": "http://starobserver.com.au.s3.amazonaws.com/wp-content/uploads/2013/03/soccer-banner.jpg",
                    "contest_title": "MUDNIAL 2014",
                    "thumb_url": "http://www.bellanaija.com/wp-content/uploads/2013/12/Super-Eagles-December-2013-BellaNaija.jpg?thumb_url",
                    "medium_url": "http://www.bellanaija.com/wp-content/uploads/2013/12/Super-Eagles-December-2013-BellaNaija.jpg?medium_url",
                    "large_url": "http://www.bellanaija.com/wp-content/uploads/2013/12/Super-Eagles-December-2013-BellaNaija.jpg?large_url",
                    "user": {
                        "id": 10,
                        "username": "martinus",
                        "avatar": "http://api.randomuser.me/portraits/thumb/men/5.jpg"
                    },
                    "description": "",
                    "media": {
                        "url": "http://www.bellanaija.com/wp-content/uploads/2013/12/Super-Eagles-December-2013-BellaNaija.jpg?media&url",
                        "thumb_url": "http://www.bellanaija.com/wp-content/uploads/2013/12/Super-Eagles-December-2013-BellaNaija.jpg?media&thumb_url",
                        "caption": "Hola! Te invito a que visites nuestra cuenta que esta llena de tips y consejos sobre moda, wrzutę, decoracion, DIY, belleza del cuerpo, edits ,tutos y mucho mas!! si nos seguis, te seguimos",
                        "from": "leomessi",
                        "created_at": "20 lip 2015",
                        "index": 1,
                        "is_cover_pic": true,
                        "description": "First Image Description",
                        "like_count": 150,
                        "type": "",
                        "dislike_count": 5
                    },
                    "like_count": 40,
                    "vote_count": 3254,
                    "dislike_count": 500,
                    "likes": [
                        {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/6.jpg"
                        },
                        {
                            "username": "carole",
                            "id": 2,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                        },
                        {
                            "username": "angelina",
                            "id": 3,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                        },
                        {
                            "username": "teresa",
                            "id": 4,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                        }
                    ],
                    "comment_count": 10,
                    "text": "Nunc eget massa sit amet ante pulvinar imperdiet. Praesent luctus eu purus non pretium. Cras mollis, neque eget scelerisque egestas, velit erat sollicitudin sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et faucibus felis. Pellentesque magna magna, pharetra non eleifend vitae, imperdiet at mi. Curabitur sodales ornare libero. Proin bibendum consectetur risus quis facilisis. Duis dignissim hendrerit elit at facilisis.",
                    "source": {
                        "source": "santabanta.com",
                        "url": "http://www.bellanaija.com/"
                    },
                    "text_source": "anet.pl",
                    "book_cover": "",
                    "book_title": "",
                    "book_author": "",
                    "author_citation": "",
                    "book_publisher": "",
                    "comment": {
                        "created_at": "2015-05-30T08:40:51.620Z",
                        "id": 1,
                        "text": "Vivamus varius pharetra nunc vel molestie. In egestas est dui, ut vulputate urna porta in.",
                        "from": {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/7.jpg"
                        },
                        "like_count": 284,
                        "media": "",
                        "media_type": "",
                        "reply": []
                    }
                },
                {
                    "type": "html",
                    "additional_text": "<article class='mt57 mb59 contest-ad-margin'> <div class='w600 center'> <div ng-click='vm.onClickContest(contest)' class='title-thin truncate pointer'>KONKURS<span class='ml5 title-thick mr5'>MUDNIAL 2016</span></div><div class='clear'></div><div> <div class='float-l mr10 contest-img-container pointer' ng-click='vm.onClickContest(1)'> <img class='br4 pointer' src='images/contest.jpg' height='100%' width='100%'><!-- <video class='vid-container' width='100%' height='100%' ng-show='contest.media.type=='video''> <source ng-src='{{contest.media.url}}'> </video> <div ng-show='contest.media.type=='video'' class='center-container szatniagoal-playbtn-container'> <img src='images/play-btn.png' height='41' width='41'> </div>--> </div><div class='float-r contest-dec-container'> <p class='contest-desc-text overflow-h maxh135'>zdobądź super nagrody za dodawanie wrzut!</p><a class='button rightEdge w91p mt10' ng-click='vm.onClickContest(1)'> <div class='btnAnim white-bg btn-flex-center'> <div class='centext'> <div class='rollover blacktext'>weż udział</div><div class='blacktext'>weż udział</div></div><div class='rollover-icon'><img src='images/black-right-btn-arrow.png'></div></div></a> </div></div></div><div class='clear'></div></article>"
                },
                {
                    "type": "news",
                    "created_at": "2015-07-09T08:40:51.620Z",
                    "id": 2,
                    "next_id": 1,
                    "prev_id": 2,
                    "title": "This is the title.",
                    "slug": "this-is-the-title",
                    "tags": [{
                        "tag": "MESSI",
                        "type": "footballer"
                        },
                        {
                        "tag": "FCB",
                        "type": "club"
                        },
                        {
                        "tag": "NEWS",
                        "type": ""
                        },
                        {
                        "tag": "FANGOL",
                        "type": ""
                        },
                        {
                        "tag": "FUN",
                        "type": ""
                    }],
                    "matches": {},
                    "queue": "waiting",
                    "is_published": true,
                    "is_contest": true,
                    "contest_id": 1,
                    "contest_banner": "http://starobserver.com.au.s3.amazonaws.com/wp-content/uploads/2013/03/soccer-banner.jpg",
                    "contest_title": "MUDNIAL 2014",
                    "thumb_url": "https://faisal080.files.wordpress.com/2012/11/marcus_2545603.jpg?w=640&h=480",
                    "medium_url": "https://faisal080.files.wordpress.com/2012/11/marcus_2545603.jpg?w=640&h=480",
                    "large_url": "https://faisal080.files.wordpress.com/2012/11/marcus_2545603.jpg?w=640&h=480",
                    "user": {
                        "id": 1,
                        "username": "martinus",
                        "avatar": "http://api.randomuser.me/portraits/thumb/men/8.jpg"
                    },
                    "description": "",
                    "media": {
                        "url": "https://faisal080.files.wordpress.com/2012/11/marcus_2545603.jpg?w=640&h=480",
                        "thumb_url": "https://faisal080.files.wordpress.com/2012/11/marcus_2545603.jpg?w=640&h=480",
                        "caption": "Hola! Te invito a que visites nuestra cuenta que esta llena de tips y consejos sobre moda, wrzutę, decoracion, DIY, belleza del cuerpo, edits ,tutos y mucho mas!! si nos seguis, te seguimos",
                        "from": "leomessi",
                        "created_at": "20 lip 2015",
                        "index": 1,
                        "is_cover_pic": true,
                        "description": "First Image Description",
                        "like_count": 150,
                        "type": "",
                        "dislike_count": 5
                    },
                    "like_count": 40,
                    "vote_count": 1254,
                    "dislike_count": 500,
                    "likes": [
                        {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/9.jpg"
                        },
                        {
                            "username": "carole",
                            "id": 2,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                        },
                        {
                            "username": "angelina",
                            "id": 3,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                        },
                        {
                            "username": "teresa",
                            "id": 4,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                        }
                    ],
                    "comment_count": 10,
                    "text": "Fusce fringilla felis lorem, non dapibus libero sagittis nec. Sed lobortis nibh tristique porttitor malesuada. Proin fringilla iaculis ex, ut pretium dolor egestas eget. Aenean tincidunt scelerisque libero sit amet imperdiet. Aenean tincidunt odio elit, quis maximus lorem pharetra ac. Nullam et eros erat.",
                    "source": {
                        "source": "santabanta.com",
                        "url": "http://www.bellanaija.com/"
                    },
                    "text_source": "anet.pl",
                    "book_cover": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-27a.jpg",
                    "book_title": "The Real MESSI",
                    "book_author": "Dan Brown",
                    "author_citation": "",
                    "book_publisher": "Westland Publications",
                    "comment": {
                        "created_at": "2015-05-30T08:40:51.620Z",
                        "id": 1,
                        "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel lacinia neque. Mauris in egestas risus.",
                        "from": {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/10.jpg"
                        },
                        "like_count": 284,
                        "media": "",
                        "media_type": "",
                        "reply": []
                    }
                },
                {
                    "type": "html",
                    "additional_text": "<div class='mt30 center-text float-r'> <img class='float-l' src='images/lg-ad.jpg' height='250' width='300'/> <img class='float-r' src='images/ad-2.jpg' height='250' width='300'/></div><div class='clear'></div>"
                },
                {
                    "type": "mecze-tv",
                    "created_at": "2015-05-30T08:40:51.620Z",
                    "id": 19,
                    "next_id": 1,
                    "prev_id": 2,
                    "title": "Mecze 6 marca 2015",
                    "slug": "mecze-6-marca-2015",
                    "tags": [{
                        "tag": "MESSI",
                        "type": "footballer"
                        },
                        {
                        "tag": "FCB",
                        "type": "club"
                        },
                        {
                        "tag": "NEWS",
                        "type": ""
                        },
                        {
                        "tag": "FANGOL",
                        "type": ""
                        },
                        {
                        "tag": "FUN",
                        "type": ""
                    }],
                    "matches": {
                        "date": "2015-09-10",
                        "schedule": [
                            {
                                "time": "14:45",
                                "team_1": "Lechia Gdańsk",
                                "team_2": "Wisła Kraków",
                                "league": "T-Mobile Ekstraklasa",
                                "channel": "Eurosport"
                            },
                            {
                                "time": "15:30",
                                "team_1": "Lechia Gdańsk",
                                "team_2": "Wisła Kraków",
                                "league": "rozgrywki",
                                "channel": "stacja TV"
                            },
                            {
                                "time": "18:30",
                                "team_1": "Manchester City",
                                "team_2": "News Castle",
                                "league": "Liga Mistrow",
                                "channel": "Eurosport"
                            },
                            {
                                "time": "19:55",
                                "team_1": "AS Monaco",
                                "team_2": "Liverpool",
                                "league": "T-Mobile Ekstraklasa",
                                "channel": "Eurosport 2"
                            },
                            {
                                "time": "22:00",
                                "team_1": "Lechia Gdańsk",
                                "team_2": "South Hampton",
                                "league": "rozgrywki",
                                "channel": "stacja TV"
                            },
                            {
                                "time": "22:00",
                                "team_1": "Lechia Gdańsk",
                                "team_2": "South Hampton",
                                "league": "rozgrywki",
                                "channel": "stacja TV"
                            }
                        ]
                    },
                    "queue": "waiting",
                    "is_published": true,
                    "is_contest": false,
                    "contest_id": "",
                    "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                    "medium_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                    "large_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                    "user": {
                        "id": 1,
                        "username": "martinus",
                        "avatar": "http://api.randomuser.me/portraits/thumb/men/2.jpg"
                    },
                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet ipsum vel libero lacinia elementum. Maecenas dictum neque a augue sodales vestibulum. Fusce bibendum bibendum leo at sollicitudin. Sed consequat ut turpis a viverra. Praesent efficitur sapien erat",
                    "media": {
                        "url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-24a.jpg",
                        "thumb_url": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-29a.jpg",
                        "caption": "",
                        "from": "",
                        "created_at": "",
                        "index": 1,
                        "is_cover_pic": true,
                        "description": "First Image Description",
                        "like_count": 150,
                        "type": "",
                        "dislike_count": 5
                    },
                    "like_count": 4,
                    "vote_count": 99,
                    "dislike_count": 50,
                    "likes": [
                        {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/2.jpg"
                        },
                        {
                            "username": "carole",
                            "id": 2,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                        },
                        {
                            "username": "angelina",
                            "id": 3,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                        },
                        {
                            "username": "teresa",
                            "id": 4,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                        }
                    ],
                    "comment_count": 10,
                    "text": "",
                    "source": "",
                    "text_source": "",
                    "book_cover": "",
                    "book_title": "",
                    "book_author": "Dan Brown",
                    "author_citation": "",
                    "book_publisher": "",
                    "comment": {
                        "created_at": "2015-05-30T08:40:51.620Z",
                        "id": 1,
                        "text": "Vivamus rutrum condimentum nibh",
                        "from": {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/2.jpg"
                        },
                        "like_count": 284,
                        "media": "",
                        "media_type": "",
                        "reply": []
                    }
                },
                {
                    "type": "rozkminka",
                    "created_at": "2015-07-09T08:40:51.620Z",
                    "id": 3,
                    "next_id": 1,
                    "prev_id": 2,
                    "title": "Cras vel sem ac augue congue.",
                    "slug": "cras-vel-sem-ac-augue",
                    "tags": [{
                        "tag": "MESSI",
                        "type": "footballer"
                        },
                        {
                        "tag": "FCB",
                        "type": "club"
                        },
                        {
                        "tag": "NEWS",
                        "type": ""
                        },
                        {
                        "tag": "FANGOL",
                        "type": ""
                        },
                        {
                        "tag": "FUN",
                        "type": ""
                    }],
                    "matches": {},
                    "queue": "waiting",
                    "is_published": true,
                    "is_contest": false,
                    "contest_id": "",
                    "thumb_url": "http://guardianlv.com/wp-content/uploads/2015/06/Google-Says-There-Are-More-Searches-for-Womens-Football-Than-Mens.jpg",
                    "medium_url": "http://guardianlv.com/wp-content/uploads/2015/06/Google-Says-There-Are-More-Searches-for-Womens-Football-Than-Mens.jpg",
                    "large_url": "http://guardianlv.com/wp-content/uploads/2015/06/Google-Says-There-Are-More-Searches-for-Womens-Football-Than-Mens.jpg",
                    "user": {
                        "id": 1,
                        "username": "martinus",
                        "avatar": "http://api.randomuser.me/portraits/thumb/men/11.jpg"
                    },
                    "description": "",
                    "media": {
                        "url": "http://guardianlv.com/wp-content/uploads/2015/06/Google-Says-There-Are-More-Searches-for-Womens-Football-Than-Mens.jpg",
                        "thumb_url": "http://guardianlv.com/wp-content/uploads/2015/06/Google-Says-There-Are-More-Searches-for-Womens-Football-Than-Mens.jpg",
                        "caption": "Hola! Te invito a que visites nuestra cuenta que esta llena de tips y consejos sobre moda, wrzutę, decoracion, DIY, belleza del cuerpo, edits ,tutos y mucho mas!! si nos seguis, te seguimos",
                        "from": "leomessi",
                        "created_at": "20 lip 2015",
                        "index": 1,
                        "is_cover_pic": true,
                        "description": "First Image Description",
                        "like_count": 150,
                        "type": "",
                        "dislike_count": 5
                    },
                    "like_count": 40,
                    "vote_count": 1024,
                    "dislike_count": 500,
                    "likes": [
                        {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/12.jpg"
                        },
                        {
                            "username": "carole",
                            "id": 2,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                        },
                        {
                            "username": "angelina",
                            "id": 3,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                        },
                        {
                            "username": "teresa",
                            "id": 4,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                        }
                    ],
                    "comment_count": "",
                    "text": "Ut sollicitudin varius lorem sed lobortis. Aenean turpis lorem, tristique sit amet scelerisque vitae, bibendum nec ante. Aenean tincidunt scelerisque libero sit amet imperdiet. Aenean tincidunt odio elit, quis maximus lorem pharetra ac. Mauris a libero sed dui sodales dignissim ac eget nibh. Suspendisse erat ex, mollis vitae erat et, egestas bibendum massa.",
                    "source": {
                        "source": "santabanta.com",
                        "url": ""
                    },
                    "text_source": "anet.pl",
                    "book_cover": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-27a.jpg",
                    "book_title": "The Real MESSI",
                    "book_author": "Dan Brown",
                    "author_citation": "",
                    "book_publisher": "Westland Publications"
                },
                {
                    "type": "blogpost",
                    "created_at": "2015-07-09T08:40:51.620Z",
                    "id": 93,
                    "next_id": 1,
                    "prev_id": 2,
                    "title": "Lorem ipsum dolor sit amet",
                    "slug": "Lorem-ipsum-dolor-sit-amet",
                    "tags": [{
                        "tag": "MESSI",
                        "type": "footballer"
                        },
                        {
                        "tag": "FCB",
                        "type": "club"
                        },
                        {
                        "tag": "NEWS",
                        "type": ""
                        },
                        {
                        "tag": "FANGOL",
                        "type": ""
                        },
                        {
                        "tag": "FUN",
                        "type": ""
                    }],
                    "queue": "main",
                    "thumb_url": "http://media.gettyimages.com/photos/players-of-real-madrid-warm-up-during-a-training-session-at-training-picture-id473041498",
                    "medium_url": "http://media.gettyimages.com/photos/players-of-real-madrid-warm-up-during-a-training-session-at-training-picture-id473041498",
                    "large_url": "http://media.gettyimages.com/photos/players-of-real-madrid-warm-up-during-a-training-session-at-training-picture-id473041498",
                    "user": {
                        "id": 1,
                        "username": "martinus",
                        "avatar": "http://api.randomuser.me/portraits/thumb/men/11.jpg"
                    },
                    "media": {
                        "media_type": "image",
                        "url": "http://media.gettyimages.com/photos/players-of-real-madrid-warm-up-during-a-training-session-at-training-picture-id473041498",
                        "thumb_url": "http://media.gettyimages.com/photos/players-of-real-madrid-warm-up-during-a-training-session-at-training-picture-id473041498",
                        "created_at": 1450269178,
                        "likes_count": null,
                        "dislikes_count": null
                    },
                    "text": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Mauris ipsum nisl, porta nec mauris vel, sagittis lacinia justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur et dictum leo. Phasellus sit amet rutrum elit, et placerat massa. Praesent id elit nunc. Maecenas ut libero lacus. Morbi id fermentum nibh. Integer maximus nisi auctor aliquet auctor. Mauris convallis dui ac tristique semper. Sed eu auctor enim.",
                    "article":"<div class='blogmodal-container'> <div ng-click='vm.goToBlogiHP()'> <p> <span>przejdż do blogów&nbsp;</span> <span>>></span> </p></div><img src='images/blog-header.jpg' height='473' width='100%'/> <div class='writeup-container mt-196'> <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1> <div> <span ng-class='{'test-clr': vm.selThrow[0].category=='test', 'relacja-clr': vm.selThrow[0].category=='relacja', 'news-clr': vm.selThrow[0].category=='news', 'felietion-clr': vm.selThrow[0].category=='felieton'}'>BlOGPOST <span ng-click='vm.onClickBlogCategory($event)' class='relacja-clr'>RELACJA</span></span> <span><img src='images/blog-comment.png'>18</span> <span><img src='images/blog-like.png'>2134</span> <time datetime='22 wrz 2015'>22 wrz 2015</time> <span>Yash Vekaria</span> </div><h2>Wordpress formats - synthetic example</h2> <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p><figure id='attachment_521' class='wp-caption alignnone' style='width: 300px;'><img class='wp-image-521 size-medium' src='http://static2.fangol.pl/blog//2016/02/messiScreening-300x169.jpg' alt='messiScreening' width='300' height='169'/> <figcaption class='wp-caption-text'>image with caption, no format</figcaption> </figure> <p><img class='alignnone size-medium wp-image-521' src='http://static2.fangol.pl/blog//2016/02/messiScreening-300x169.jpg' alt='messiScreening' width='300' height='169'/></p><figure id='attachment_516' class='wp-caption alignleft' style='width: 300px;'><img class='wp-image-516 size-medium' src='http://static2.fangol.pl/blog//2016/02/DSC_1429-24-300x200.jpg' alt='DSC_1429-24' width='300' height='200'/> <figcaption class='wp-caption-text'>align to left, image with caption</figcaption> </figure> <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p><p><img class='size-medium wp-image-521 alignleft' src='http://static2.fangol.pl/blog//2016/02/messiScreening-300x169.jpg' alt='messiScreening' width='300' height='169'/>Image without caption. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p><figure id='attachment_515' class='wp-caption aligncenter' style='width: 300px;'><img class='wp-image-515 size-medium' src='http://static2.fangol.pl/blog//2016/02/DSC_1381-21-300x200.jpg' alt='DSC_1381-21' width='300' height='200'/> <figcaption class='wp-caption-text'>center</figcaption> </figure> <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p><p><img class='wp-image-515 size-large aligncenter full-width' src='http://static2.fangol.pl/blog//2016/02/DSC_1381-21-1024x683.jpg' alt='DSC_1381-21' width='660' height='440'/></p><blockquote> <img src='images/blog-quote.png'> <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p></blockquote> <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p><figure id='attachment_510' class='wp-caption aligncenter' style='width: 660px;'><img class='wp-image-510 size-large full-width aligncenter' src='http://static2.fangol.pl/blog//2016/02/DSC_1430-25-1024x683.jpg' alt='DSC_1430-25' width='660' height='440'/> <figcaption class='wp-caption-text'>set center, image with caption, if &gt; 600px then lets make it with=100%</figcaption> </figure> <ul> <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</li><li>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</li><li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</li><li>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</li></ul> <ol> <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</li><li>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</li><li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</li><li>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</li></ol> <h2>Wordpress example #1 </h2> <p>Jedyną serią, kt&oacute;ra przetrwała przemiany w adidas poza ACE i X to MESSI 15. Lionel mając wsp&oacute;łpracę z adidasem od 10 lat rok temu otrzymał sw&oacute;j własny imienny model. Dziś opowiem Wam co jest w nim ciekawego. </p><p> <iframe src='https://www.youtube.com/embed/KOytVgGrdjE?feature=oembed' width='660' height='371' frameborder='0' allowfullscreen='allowfullscreen'> </iframe> </p><p>Recenzję zacząłem od opisu podeszwy messiGAMETRAX z tego względu, że wywarło na mnie niesamowite wrażeni to jak bardzo wgryza się w ziemię i nie pozwala by stopa nawet drgnęła aż do momentu aż zechcemy nią ruszyć dalej. <img class='aligncenter size-large wp-image-512' src='http://static2.fangol.pl/blog/2016/02/DSC_1414-22-1024x576.jpg' alt='DSC_1414-22' width='620' height='349'/> Dzięki tak gryzącej podeszwie możemy robić bardzo ostre ruchy nie tracąc zupełnie energii, kt&oacute;ra w innym układzie byłaby absorbowana przez zbędne ruchy buta na podłożu.</p><p> <a href='http://static2.fangol.pl/blog/2016/02/DSC_1430-25.jpg'> <img class='aligncenter size-large wp-image-510' src='http://static2.fangol.pl/blog/2016/02/DSC_1430-25-1024x683.jpg' alt='DSC_1430-25' width='620' height='414'/> </a> </p><p>Muszę przyznać, że ta ramka zamiast podeszwy mocno mnie zaskoczyła. Miałem wątpliwość, czy powierzchnia buta (ten sam materiał co cholewka) przetrwa kontakt z podłożem. Grałem jednak (jak widać) w spartańskich warunkach, kt&oacute;re nawet podrapały plastik w korkach ale nawet nie drasnęły messiTOUCH na podeszwie. <a href='http://static2.fangol.pl/blog/2016/02/DSC_1432-26.jpg'> <img class='aligncenter size-large wp-image-511' src='http://static2.fangol.pl/blog/2016/02/DSC_1432-26-1024x683.jpg' alt='DSC_1432-26' width='620' height='414'/> </a> </p><p>Powierzchnia messiTOUCH X-RAY sprawia wrażenie pocentkowanej. Ma to wzmacniać efekt jaki wywołuje kontakt tego materiału z piłką. <a href='http://static2.fangol.pl/blog/2016/02/DSC_1428-23.jpg'> <img class='aligncenter size-large wp-image-513' src='http://static2.fangol.pl/blog/2016/02/DSC_1428-23-1024x683.jpg' alt='DSC_1428-23' width='620' height='414'/> </a> </p><p>Bardzo ciekawa jest wyści&oacute;łka zapiętka. Przypomina nieco materiał, kt&oacute;ry adidas oferuje w ramach sportowych szalik&oacute;w/komin&oacute;w. Coś jak sportowy zamsz. Bardzo przyjemny w dotyku. <a href='http://static2.fangol.pl/blog/2016/02/DSC_1435-27.jpg'> <img class='aligncenter size-large wp-image-514' src='http://static2.fangol.pl/blog/2016/02/DSC_1435-27-1024x683.jpg' alt='DSC_1435-27' width='620' height='414'/> </a> </p><p> <a href='http://static2.fangol.pl/blog/2016/02/DSC_1381-21.jpg'> <img class='aligncenter size-large wp-image-515' src='http://static2.fangol.pl/blog/2016/02/DSC_1381-21-1024x683.jpg' alt='DSC_1381-21' width='620' height='414'/> </a> Podsumowując moje myśli po recenzji (obejrzyj koniecznie video) tych but&oacute;w to jest to bardzo fajne, że adidas dopuścił by ten but był taki &bdquo;Leo&rdquo;. Przyglądając się jego budowie i zastosowanym technologiom (szczeg&oacute;lnie te drapieżne kołki) można oczami wyobraźni widzieć Messiego w akcji wyciągający z nich maks możliwości.</p><p>To zdecydowanie działa na psychikę, a ta jak wiemy może odgrywać kluczową rolę w sytuacjach podbramkowych.</p><p>Dajcie mi znać jak Wam się podobała ta recenzja i co myślicie o tych butach.</p><h2>Wordpress example #2</h2> <p>To jeden z tych but&oacute;w, w kt&oacute;rych aż chce się m&oacute;wić o technologii. Przeważnie staram się Wam ująć wszystko w jak najprostszej formie ale tym razem pozwolę sobie na odrobinę większą ilość tekstu. Zanim przejdziesz dalej &ndash; obejrzyj recenzję &nbsp;video:&nbsp; </p><p> <iframe src='https://www.youtube.com/embed/WM5DHFAWAuU?feature=oembed' width='660' height='371' frameborder='0' allowfullscreen='allowfullscreen'> </iframe> </p><p>Jak wspomniałem cholewka ma właściwości kompresyjne. Wspomniałem też, że to taka właściwość dosyć popularna w sportowych ciuchach. Najpopularniejsze są zapewne skarpety kompresyjne. Ich działanie jest dwojakie &ndash; wspierające (tzn przytrzymują łydkę przez co nie musisz wykonywać tyle pracy by ją &bdquo;spiąć&rdquo;) i jednocześnie regeneracyjne (jak nie musisz jej męczyć to odpoczywa). Można je więc stosować albo na treningu albo po.</p><p> <a href='http://static2.fangol.pl/blog/2016/02/DSC_00291.jpg'> <img class='aligncenter size-large wp-image-492' src='http://static2.fangol.pl/blog/2016/02/DSC_00291-1024x683.jpg' alt='DSC_0029' width='620' height='414'/> </a> </p><p>Kompresyjna cholewka to dla mnie coś zupełnie nowego. Stąd poświęciłem temu tyle czasu w filmie. Nie wspomniałem jednak przez to o technologii PURE CUT. Purecut to w zasadzie nie tyle technologia co spos&oacute;b wykończenia buta.</p><p> <a href='http://static2.fangol.pl/blog/2016/02/DSC_0040.jpg'> <img class='aligncenter size-large wp-image-495' src='http://static2.fangol.pl/blog/2016/02/DSC_0040-1024x683.jpg' alt='DSC_0040' width='620' height='414'/> </a> </p><p>Jak widzieliście na filmie i co widać na fotkach but jest tak zrobiony, że krawędzie w cholewce (np w okolicach języka) są specjalnie &bdquo;zmniejszane&rdquo; żeby nie odstawały od buta i zachowały jego nawierzchnię wolną od r&oacute;żnego rodzaju &bdquo;nier&oacute;wności&rdquo;.</p><p> <a href='http://static2.fangol.pl/blog/2016/02/DSC_0014.jpg'> <img class='aligncenter size-large wp-image-493' src='http://static2.fangol.pl/blog/2016/02/DSC_0014-1024x683.jpg' alt='DSC_0014' width='620' height='414'/> </a> </p><p>Z kolei wspomniana faktura cholewki, ta struktura 3D, kt&oacute;ra ma poprawić przyczepność buta do piłki to jest tak zwany NON STOP GRIP. &nbsp;W sumie nazwa Wam teraz nic nie zmieni ale dobrze wiedzieć na przyszłość kiedy trafi się inny but, wykorzystujący tę samą technologię.</p><p> <a href='http://static2.fangol.pl/blog/2016/02/DSC_1357.jpg'> <img class='aligncenter size-large wp-image-494' src='http://static2.fangol.pl/blog/2016/02/DSC_1357-1024x683.jpg' alt='DSC_1357' width='620' height='414'/> </a> </p><p>I jeszcze nawiązując do podeszwy. Sprint frame od śr&oacute;dstopia do pięty miejscami ma nawet ledwie 1mm grubości. W teorii jakbyście bardzo mocno wcisnęli wkładkę wewnątrz buta to udałoby Wam się wyczuć palcami wspomniane puste miejsca w &bdquo;paskach&rdquo;.</p><p> <a href='http://static2.fangol.pl/blog/2016/02/DSC_0046.jpg'> <img class='aligncenter size-large wp-image-496' src='http://static2.fangol.pl/blog/2016/02/DSC_0046-1024x567.jpg' alt='DSC_0046' width='620' height='343'/> </a> </p><p>PRZEWROTKA??</p><p>Część os&oacute;b pytało mnie o przewrotkę, czy ją trenowałem czy&hellip;.tylko się wygłupiałem. Bardziej to drugie <img class='wp-smiley' src='../../../podworko/wp-includes/images/smilies/simple-smile.png' alt=':)'/> To jest jeden z tych motyw&oacute;w, kt&oacute;re są nie tylko trudne ale i niebezpieczne nawet jak Wam się uda. Gorąco polecam NIE pr&oacute;bować jeśli nie potraficie się asekurować przy lądowaniu. Ja potrafię, a i tak po tym nagraniu teraz jak to piszę to się lekko krzywię z b&oacute;lu <img class='wp-smiley' src='../../../podworko/wp-includes/images/smilies/simple-smile.png' alt=':)'/></p><p> <iframe src='https://www.youtube.com/embed/DDPGHceWM6Y?feature=oembed' width='660' height='371' frameborder='0' allowfullscreen='allowfullscreen'> </iframe> </p><p>I jak zawsze proszę Was o suby i udostępnienia! Dajcie też znać, kt&oacute;ra recenzja z dotychczasowych przypadła Wam najbardziej do gustu:</p><ul> <li><a href='http://bit.ly/adidax153_galeria' target='_blank'> adidas X15.3 &ndash; recenzja </a> &nbsp;+ &nbsp; <a href='https://www.youtube.com/watch?v=YsioLx7T4AQ' target='_blank'> video </a></li><li><a href='http://bit.ly/ace151_recenzja' target='_blank'> adidas ACE 15.1 AG/FG i SG &ndash; recenzja </a> &nbsp;+ <a href='https://www.youtube.com/watch?v=AL90JJRvGw0' target='_blank'> video </a></li><li><a href='http://fangol.pl/podworko/korki/adidas-ace-16-2-primesh-recenzja-rewolucja-blizej-stopy/' target='_blank'> adidas ACE 16.2 Primesh &ndash; recenzja </a> &nbsp;+ <a href='https://www.youtube.com/watch?v=xoRcQn7IikM' target='_blank'> video </a></li></ul> <p>Page edited with the <a href='http://htmlcodeeditor.com/'> best online HTML code editor </a> . Please purchase a htmlg membership to remove promotional messages from the edited documents.</p><h2>Wordpress example #3</h2> <p>M&oacute;wi się, że buty nie grają. Choć w większości przypadk&oacute;w osoby wypowiadające te słowa nie przetrwałyby 10 minut grając boso w meczu, to jednak można by przypuszczać, że idealnym butem byłaby skarpetka&hellip;z korkami.</p><p> </p><p> <iframe src='https://www.youtube.com/embed/xoRcQn7IikM?feature=oembed' width='660' height='371' frameborder='0' allowfullscreen='allowfullscreen'> </iframe> </p><p>Wraz z serią ACE 16 adidas zbliża się do tego formatu. Usunięto bowiem najbardziej wystający element jakim są sznur&oacute;wki. Sznur&oacute;wki, kt&oacute;re kiedyś były odpowiedzialne za to by but przylegał do stopu dziś dzięki mocno rozwiniętej technologii i nowoczesnym materiałom nie są już tak potrzebne. Dzięki temu w modelu 16+ Purecontrol Laceless usunięto je całkowicie, a w modelu opisywanym w tej recenzji osadzono je nieco bardziej &bdquo;w głąb buta&rdquo; i&nbsp;nie odgrywają już kluczowej roli w tym jak but przylega do stopy.</p><p> <a href='http://static2.fangol.pl/blog/2016/02/ace1632-28.jpg'> <img class='aligncenter size-large wp-image-474' src='http://static2.fangol.pl/blog/2016/02/ace1632-28-1024x683.jpg' alt='ace1632 (28)' width='620' height='414'/> </a> </p><p>Tę misję na siebie wzięła Primeshowa wkładka, kt&oacute;ra zaczyna się mniej więcej w połowie śr&oacute;dstopia. Wkładka ta przypomina nieco skarpetkę, kt&oacute;ra przymocowana jest do podeszwy wewnątrz buta. Dzięki takiemu scentralizowanemu umiejscowieniu już po założeniu buta nasza noga jest &bdquo;trzymania&rdquo; (dosłownie) i w zasadzie można by grać nawet bez wiązania sznur&oacute;wek.</p><p> <a href='http://static2.fangol.pl/blog/2016/02/ace1632-13-2.jpg'> <img class='aligncenter size-large wp-image-476' src='http://static2.fangol.pl/blog/2016/02/ace1632-13-2-1024x666.jpg' alt='ace1632 (13)-2' width='620' height='403'/> </a> </p><p>Co ciekawe i myślę bardzo dobre &ndash; dzięki zastosowaniu tej wkładki ale i pozostawieniu sznur&oacute;wek w 16.2 mamy większą szanse na dopasowanie buta do siebie. Buty limitowane takie jak Primeknit i Purecontrol Laceless będą zawsze bardziej dopasowane od konkretnego typu stopy. Szersza podeszwa pozwala cieszyć się ACE 16.2 szerszemu gronu odbiorc&oacute;w.</p><p> <a href='http://static2.fangol.pl/blog/2016/02/ace1632-25.jpg'> <img class='aligncenter size-large wp-image-477' src='http://static2.fangol.pl/blog/2016/02/ace1632-25-1024x683.jpg' alt='ace1632 (25)' width='620' height='414'/> </a> </p><p>W podeszwie zastosowano znany nam już układ kork&oacute;w <strong> Ground Control 2.0. </strong></p><p><strong> But jest zdecydowanie dla os&oacute;b, kt&oacute;re lubią mieć minimalną ilość dodatkowych element&oacute;w w cholewce. </strong> Nie znajdziesz tu wzmacnianych stref styku z piłką przygotowywanych dla konkretnej pozycji na boisku. <strong> To jest but, kt&oacute;ry ma pozwolić Ci wyzwolić Twoje własne umiejętności dając poczucie bezpośredniego styku piłki ze stopą. </strong></p><div class='fb-post' data-href='https://www.facebook.com/FangolSprzet/photos/a.155665151471719.1073741828.155244648180436/169185800119654/?type=3&amp;theater' data-width='500'> <div class='fb-xfbml-parse-ignore'> <blockquote cite='https://www.facebook.com/FangolSprzet/posts/169185800119654:0'> <p>oj narozrabiałem w błotku 😀 ale warto było&hellip;</p><p>Posted by <a href='https://www.facebook.com/FangolSprzet/'> Piłkarski Sprzęt wg Fangola </a> on&nbsp; <a href='https://www.facebook.com/FangolSprzet/posts/169185800119654:0'> 30 styczeń 2016 </a></p></blockquote> </div></div><h2>Wordpress example #4</h2> <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p><figure id='attachment_521' class='wp-caption alignnone' style='width: 300px;'><img class='wp-image-521 size-medium' src='http://static2.fangol.pl/blog//2016/02/messiScreening-300x169.jpg' alt='messiScreening' width='300' height='169'/> <figcaption class='wp-caption-text'>no format</figcaption> </figure> <figure id='attachment_516' class='wp-caption alignleft' style='width: 300px;'><img class='wp-image-516 size-medium' src='http://static2.fangol.pl/blog//2016/02/DSC_1429-24-300x200.jpg' alt='DSC_1429-24' width='300' height='200'/> <figcaption class='wp-caption-text'>align to left</figcaption> </figure> <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p><image <figure id='attachment_515' class='wp-caption aligncenter' style='width: 300px;'><img class='wp-image-515 size-medium' src='http://static2.fangol.pl/blog//2016/02/DSC_1381-21-300x200.jpg' alt='DSC_1381-21' width='300' height='200'/> <figcaption class='wp-caption-text'>center</figcaption> </figure> <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p><blockquote> <img src='images/blog-quote.png'> <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p></blockquote> <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p><figure id='attachment_510' class='wp-caption aligncenter'><img class='wp-image-510 size-large' src='http://static2.fangol.pl/blog//2016/02/DSC_1430-25-1024x683.jpg' alt='DSC_1430-25' width='660' height='440'/> <figcaption class='wp-caption-text'>set center and width=100%</figcaption> </figure> <ul> <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</li><li>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</li><li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</li><li>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</li></ul> <ol> <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</li><li>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</li><li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</li><li>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</li></ol> </div></div>",
                    "additional_text": "<div class='blogmodal-container'> <img src='images/blog-header.jpg' height='473' width='1020'/> <div class='blogmodalinner-container'> <div ng-click='vm.goToBlogiHP()' class='goto-blogs-container'> <p class='goto-blogs-text'> <span class='text-underline d-inline lh13'>przejdż do blogów&nbsp;</span> <span>>></span> </p></div><div class='writeup-container blog-title-position'> <h1 class='blog-title-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1> <div class='blog-type-info mt10'> <span class='blog-headline-type default-clr mr10'>BlOGPOST <span ng-click='vm.onClickBlogCategory($event)' class='relacja-clr pointer'>RELACJA</span></span> <span class='blog-headline-comments mr5'><img class='img-pos mr2' src='images/blog-comment.png' height='10' width='9'>18</span> <span class='blog-headline-likes'><img class='mr2' src='images/blog-like.png' height='9' width='9'>2134</span> <time class='ml10 smallblog-date' datetime='22 wrz 2015'>22 wrz 2015</time> <span class='ml10 blog-headline-author'>Yash Vekaria</span> </div><p class='mt60 thick'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><p class='mt20'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><p class='mt20'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><div class='float-l blog-image-container'> <img src='images/blogimg1.jpg' height='auto' width='360'> <div class='mt10 blog-image-caption'>Lorem ipsum dolor sit amet, consectetur</div></div><p class='mt20'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p class='mt20'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><h1 class='mt37 blog-heading-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </h1> <p class='mt10'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><div class='clear'></div></div></div><div class='full-width-image-container mt30 pos-rel'> <video onended='hidePlayButton=false;' id='video' controls height='574' width='1021' preload='none' mediagroup='myVideoGroup' poster='http://media.w3.org/2010/05/sintel/poster.png'> <source id='mp4' src='http://media.w3.org/2010/05/sintel/trailer.mp4' type='video/mp4'> <source id='webm' src='http://media.w3.org/2010/05/sintel/trailer.webm' type='video/webm'> <source id='ogv' src='http://media.w3.org/2010/05/sintel/trailer.ogv' type='video/ogg'> <p>Your user agent does not support the HTML5 Video element.</p></video> <div class='center-container blog-playbtn-container' ng-mouseenter='hoverOnVideoPlayer=true' ng-mouseleave='hoverOnVideoPlayer=false'> <div ng-hide='hidePlayButton' ng-click='hidePlayButton=true;vm.onPlayBlogiVideo($event)' class='blog-sv-video-circle' ng-class='{true:'black-bg',false:''}[hoverOnVideoPlayer]'> <img src='images/blog-vid-play-btn.png' height='45' width='40'> </div></div></div><div class='blogmodalinner-container'> <div class='writeup-container'> <p class='mt20'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><p class='mt20'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><p class='mt20'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><div class='float-l blog-article-quote-container'> <img class='float-l mr20 ml-20 mt-12' src='images/blog-quote.png' height='96' width='124'><span class='blogi-quote-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</span> </div><p class='mt20'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p class='mt20'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><h1 class='mt37 blog-heading-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </h1> <p class='mt10'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><style type='text/css'> </style> <ol class='mt30'><!-- <li class='mb10 blog-list-container' ng-repeat='n in [01,02,03,04,05,06,07,08,09,10,11,12,13]'> <p><span class='blog-ol-list-no'>{{$index+10}}.</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></li>--> <li class='mb10 blog-list-container'> <div class='blog-list-item'> <div class='blog-list-item-bullet'> <span class='blog-list-no ng-binding'>01.</span> </div><div class='blog-list-item-content'> <p class='lh17'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></div></div></li><li class='mb10 blog-list-container'> <div class='blog-list-item'> <div class='blog-list-item-bullet'> <span class='blog-list-no ng-binding'>02.</span> </div><div class='blog-list-item-content'> <p class='lh17'>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p></div></div></li></ol> <p class='mt30'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div><div class='mt30'> <img class='center show' src='images/topad.jpg' height='300' width='750'> </div><div class='writeup-container'> <p class='mt30'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><p class='mt30'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><div class='float-l blog-related-article-container mr20imp'> <img src='images/blogimg3.jpg' height='133' width='346'> </div><div class='mt20'> <h1 class='blog-subheading-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</h1> <div class='blog-type-info mt3'> <span class='blog-headline-type mr10'><span ng-click='vm.onClickBlogCategory($event)' class='relacja-clr pointer'>RELACJA</span></span> <span class='blog-headline-comments mr5'><img class='img-pos mr2' src='images/blog-comment.png' height='10' width='9'>18</span> <span class='blog-headline-likes'><img class='mr2' src='images/blog-like.png' height='9' width='9'>2134</span> <time class='ml10 smallblog-date' datetime='22 wrz 2015'>22 wrz 2015</time> <span class='ml10 blog-headline-author'>Yash Vekaria</span> </div><p class='mt15 otherblog-container-text' data-ng-bind='vm.paragraph' data-ellipsis></p><div class='blog-headline-link mt15'><span class='text-underline'>czytaj więcej&nbsp;</span><span>></span></div></div><p class='mt30'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><p class='mt30'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><p class='mt30'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p></div></div><div class='full-width-image-container mt30'> <div id='flat'><!-- <button class='flipster__button flipster__button--prev' role='button'> <img src='images/prevgalcarousel.png' width='39px' height='76px'/> </button> --> <ul> <li data-flip-title='1'> <img src='http://payload271.cargocollective.com/1/1/45988/7720254/nike14_905.jpg'> </li><li data-flip-title='2'> <img src='http://u.cubeupload.com/vegasos/ball.jpg'> </li><li data-flip-title='3'> <img src='http://balls.co.uk/wp-content/uploads/2014/09/Capture11.jpg'> </li><li data-flip-title='4'> <img src='http://assets.vice.com/content-images/contentimage/173648/Screen-Shot-2014-07-30-at-12-35-44.jpg'> </li></ul><!-- <button class='flipster__button flipster__button--next' role='button'> <img src='images/nextgalcarousel.png' width='39px' height='76px'> </button> --> </div><div class='mt10 blog-gallery-image-caption center-text'><span id='currentBlogGalleryIndex'>{{vm.getBlogiGalleryStartIndex()}}</span>Dominic Torrento, Sports.tv.pl</div><div class='clear'></div></div><div class='blogmodalinner-container'> <div class='writeup-container'> <p class='mt30'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><p class='mt30'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><p class='mt30'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><ul class='blog-tags-container'> <li ng-click='vm.onClickTag(tag)' ng-repeat='tag in [{tag:'RONALDO',type:'footballer'},{tag:'ARSENAL',type:'club'},{tag:'TAG1',type:''},{tag:'TAG2',type:''},{tag:'TAG3',type:''}]' class='blog-tags-text pointer'><span class='tag-first-letter'>{{tag.type==''?'#':'@'}}</span>{{tag.tag}}</li><!-- <li ng-click='vm.onClickTag(tag)' class='blog-tags-text'>@RONALDO</li><li ng-click='vm.onClickTag(tag)' class='blog-tags-text'>@MESSI</li><li ng-click='vm.onClickTag(tag)' class='blog-tags-text'>#TAG1</li><li ng-click='vm.onClickTag(tag)' class='blog-tags-text'>#TAG2</li><li ng-click='vm.onClickTag(tag)' class='blog-tags-text'>#TAG3</li>--> </ul> </div></div><div class='clear'></div></div><section class='modal-container-width center pos-rel'> <div class='blog-foo-share-container'> <div class='blogshare-left-container'> <a class='blogfoo-comment pointer' ng-class='{true:'white-clr', false:''}[commentCounterFocus]'>skomentuj</a> <a class='blogfoo-comment-counter pointer' ng-mouseover='commentCounterFocus=true;' ng-mouseleave='commentCounterFocus=fasle;'>25</a> <div class='blogfoo-share-container mt12'> <a ng-mouseover='shareFocus=true;' ng-mouseleave='shareFocus=false;' class='blog-foo-share-btn' ng-class='{true:'white-clr', false:''}[shareListFocus]'>udostępnij</a> <ul class='foo-share-list' ng-mouseover='shareListFocus=true;' ng-mouseleave='shareListFocus=fasle;' ng-mouseleave='focus='''> <li ng-mouseover='focus='fb';' class='link-wrapper fb pointer' ng-class='{'o50':focus!=''&&!shareFocus&&focus!='fb'}'> <a class='link'></a> </li><li ng-mouseover='focus='twitter';' socialshare socialshare-provider='twitter' socialshare-url='http://apps.demosite.pl/fangol/#/wrzute/{{throw.id}}' socialshare-text='{{throw.title}}' socialshare-media='{{throw.media.url}}' class='link-wrapper twitter pointer' ng-class='{'o50':focus!=''&&!shareFocus&&focus!='twitter'}'> <a class='link'></a> </li><li ng-mouseover='focus='link';' class='link-wrapper copy pointer' ng-class='{'o50':focus!=''&&!shareFocus&&focus!='link'}'> <a clipboard text='vm.throwToCopy' on-copied='vm.onCopied()' class='link'></a> </li></ul> </div></div><div class='blog-votes-container'> <div class='votes w100p'> <div class='d-flex flex1'> <div class='flex1 pr20'> <div class='black-line'></div></div><a ng-click='vm.likeThrow(vm.selThrow,true);' class='round blog-hand blog-hand-up pointer mt38' ng-class='{true:'throw-liked',false:''}[vm.user.throws_liked.indexOf(vm.selThrow.id)!=-1||vm.user.throws_disliked.indexOf(vm.selThrow.id)!=-1]'></a> </div><div class='pt15'> <div class='blogvote smaller left'> <div class='blogi-like-counter-line'></div><div class='blogvote-container'> <div ng-class='{on:(vm.user.throws_liked.indexOf(vm.selThrow.id)!=-1)?true:false}' class='blogvote-count'>{{vm.selThrow.like_count}}</div><div>{{vm.selThrow.like_count}}</div></div></div><div class='colon'></div><div class='blogvote smaller right'> <div class='blogi-like-counter-line'></div><div class='blogvote-container'> <div ng-class='{on:(vm.user.throws_disliked.indexOf(vm.selThrow.id)!=-1)?true:false}' class='blogvote-count'>{{vm.selThrow.dislike_count}}</div><div>{{vm.selThrow.dislike_count}}</div></div></div><div class='clear'></div></div><div class='d-flex flex1'> <a ng-click='vm.dislikeThrow(vm.selThrow,false)' class='round blog-hand blog-hand-down pointer mt38' ng-class='{true:'throw-liked',false:''}[vm.user.throws_liked.indexOf(vm.selThrow.id)!=-1||vm.user.throws_disliked.indexOf(vm.selThrow.id)!=-1]'></a> <div class='flex1 pl20'> <div class='black-line'></div></div></div></div></div><div class='blogshare-right-container'> <div class='blog-foo-author-img'> <img src='images/blogauthor.png' class='br50' height='160' width='160'> </div><p class='blogauthor-name white-clr'>Madan</p><p class='blogauthor-name white-clr'>Purohit</p><p class='blog-newuser white-clr mtb5'>nazwa usera</p></div></div><!-- <div class='table-container mb30'> <section class='wcalc396 d-table-cell'> <div ng-include=''views/blogi/blog-comment-view.html''></div></section> <div class='sidebar-main-container'> <div ng-include src=''views/blogi/blogi-sidebar.html''></div></div></div>--><!-- <div ng-include src=''views/blogi/blogi-sidebar.html''></div><section class='modal-main mb30'> <div ng-include=''views/blogi/blog-comment-view.html''></div></section> <div class='clear'></div>ad section starts <div class='ad-top'> <img src='images/topad.jpg' height='300' width='750'/> </div>--> </section><script>console.log('called');//$('#currentBlogGalleryIndex')[0].innerHTML=$('.flipster__item--current').index() + 1;var flat=$('#flat').flipster({style: 'flat', spacing: -0.25, scrollwheel: false, buttons: true, onItemSwitch: function function_name(a, b, c, d){setTimeout(function(){$('#currentBlogGalleryIndex')[0].innerHTML=$('.flipster__item--current').index() + 1 + '/' + $('.flipster__item').length + ' ';}, 500);}});</script>",
                    "like_count": 40,
                    "vote_count": 1024,
                    "dislike_count": 500,
                    "likes": [
                        {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/12.jpg"
                        },
                        {
                            "username": "carole",
                            "id": 2,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                        },
                        {
                            "username": "angelina",
                            "id": 3,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                        },
                        {
                            "username": "teresa",
                            "id": 4,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                        }
                    ],
                    "comment": {
                        "created_at": "2015-05-30T08:40:51.620Z",
                        "id": 1,
                        "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel lacinia neque. Mauris in egestas risus.",
                        "from": {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/10.jpg"
                        },
                        "like_count": 284,
                        "media": "",
                        "media_type": "",
                        "reply": []
                    },
                    "comment_count": "",
                    "source": {
                        "source": "santabanta.com",
                        "url": ""
                    }
                },
                {
                    "type": "taktyka",
                    "created_at": "2015-07-09T08:40:51.620Z",
                    "id": 5,
                    "next_id": 1,
                    "prev_id": 2,
                    "title": "Interdum et malesuada.",
                    "slug": "lorem-ipsum-dolor-sit-amet",
                    "tags": [{
                        "tag": "MESSI",
                        "type": "footballer"
                        },
                        {
                        "tag": "FCB",
                        "type": "club"
                        },
                        {
                        "tag": "NEWS",
                        "type": ""
                        },
                        {
                        "tag": "FANGOL",
                        "type": ""
                        },
                        {
                        "tag": "FUN",
                        "type": ""
                    }],
                    "matches": {},
                    "queue": "waiting",
                    "is_published": true,
                    "is_contest": false,
                    "contest_id": "",
                    "thumb_url": "http://images1.houstonpress.com/imager/u/blog/7621521/rice_stadium.jpg",
                    "medium_url": "http://images1.houstonpress.com/imager/u/blog/7621521/rice_stadium.jpg",
                    "large_url": "http://images1.houstonpress.com/imager/u/blog/7621521/rice_stadium.jpg",
                    "user": {
                        "id": 1,
                        "username": "martinus",
                        "avatar": "http://api.randomuser.me/portraits/thumb/men/17.jpg"
                    },
                    "description": "",
                    "media": {
                        "url": "http://images1.houstonpress.com/imager/u/blog/7621521/rice_stadium.jpg",
                        "thumb_url": "http://images1.houstonpress.com/imager/u/blog/7621521/rice_stadium.jpg",
                        "caption": "Hola! Te invito a que visites nuestra cuenta que esta llena de tips y consejos sobre moda, wrzutę, decoracion, DIY, belleza del cuerpo, edits ,tutos y mucho mas!! si nos seguis, te seguimos",
                        "from": "leomessi",
                        "created_at": "20 lip 2015",
                        "index": 1,
                        "is_cover_pic": true,
                        "description": "First Image Description",
                        "like_count": 150,
                        "type": "",
                        "dislike_count": 5
                    },
                    "like_count": 40,
                    "vote_count": 1007,
                    "dislike_count": 500,
                    "likes": [
                        {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/18.jpg"
                        },
                        {
                            "username": "carole",
                            "id": 2,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                        },
                        {
                            "username": "angelina",
                            "id": 3,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                        },
                        {
                            "username": "teresa",
                            "id": 4,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                        }
                    ],
                    "comment_count": 10,
                    "text": "Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vulputate mauris et auctor egestas. Curabitur nisi leo, facilisis nec rutrum vel, egestas eu lectus. Mauris a libero sed dui sodales dignissim ac eget nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et faucibus felis. Pellentesque magna magna, pharetra non eleifend vitae, imperdiet at mi. Fusce fringilla felis lorem.",
                    "source": {
                        "source": "santabanta.com",
                        "url": ""
                    },
                    "text_source": "anet.pl",
                    "book_cover": "http://media1.santabanta.com/full5/Football/Lionel%20Messi/lionel-messi-27a.jpg",
                    "book_title": "The Real MESSI",
                    "book_author": "Dan Brown",
                    "author_citation": "",
                    "book_publisher": "Westland Publications",
                    "comment": {
                        "created_at": "2015-05-30T08:40:51.620Z",
                        "id": 1,
                        "text": "Ut sodales nulla sed nisl tincidunt, ac pulvinar arcu auctor. Phasellus feugiat sapien eu augue tristique accumsan.",
                        "from": {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/19.jpg"
                        },
                        "like_count": 284,
                        "media": "",
                        "media_type": "",
                        "reply": []
                    }
                },
                {
                    "type": "statystyka",
                    "created_at": "2015-07-09T08:40:51.620Z",
                    "id": 6,
                    "next_id": 1,
                    "prev_id": 2,
                    "title": "Phasellus quis imperdiet.",
                    "slug": "lorem-ipsum-dolor-sit-amet",
                    "tags": [{
                        "tag": "MESSI",
                        "type": "footballer"
                        },
                        {
                        "tag": "FCB",
                        "type": "club"
                        },
                        {
                        "tag": "NEWS",
                        "type": ""
                        },
                        {
                        "tag": "FANGOL",
                        "type": ""
                        },
                        {
                        "tag": "FUN",
                        "type": ""
                    }],
                    "matches": {},
                    "queue": "waiting",
                    "is_published": true,
                    "is_contest": false,
                    "contest_id": "",
                    "thumb_url": "http://images.gmanews.tv/v3/webpics/v3/2014/03/2014_03_05_14_25_43.jpg",
                    "medium_url": "http://images.gmanews.tv/v3/webpics/v3/2014/03/2014_03_05_14_25_43.jpg",
                    "large_url": "http://images.gmanews.tv/v3/webpics/v3/2014/03/2014_03_05_14_25_43.jpg",
                    "user": {
                        "id": 1,
                        "username": "martinus",
                        "avatar": "http://api.randomuser.me/portraits/thumb/men/20.jpg"
                    },
                    "media": {
                        "url": "http://images.gmanews.tv/v3/webpics/v3/2014/03/2014_03_05_14_25_43.jpg",
                        "thumb_url": "http://images.gmanews.tv/v3/webpics/v3/2014/03/2014_03_05_14_25_43.jpg",
                        "caption": "Hola! Te invito a que visites nuestra cuenta que esta llena de tips y consejos sobre moda, wrzutę, decoracion, DIY, belleza del cuerpo, edits ,tutos y mucho mas!! si nos seguis, te seguimos",
                        "from": "leomessi",
                        "created_at": "20 lip 2015",
                        "index": 1,
                        "is_cover_pic": true,
                        "description": "First Image Description",
                        "like_count": 150,
                        "type": "",
                        "dislike_count": 5
                    },
                    "like_count": 40,
                    "vote_count": 946,
                    "dislike_count": 500,
                    "likes": [
                        {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/21.jpg"
                        },
                        {
                            "username": "carole",
                            "id": 2,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                        },
                        {
                            "username": "angelina",
                            "id": 3,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                        },
                        {
                            "username": "teresa",
                            "id": 4,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                        }
                    ],
                    "comment_count": 10,
                    "description": "In augue risus, suscipit at arcu quis, mattis ullamcorper sapien. Praesent tincidunt neque nec neque vulputate aliquet. Donec varius est porttitor accumsan vestibulum. Phasellus mattis ultrices mattis. Etiam rhoncus semper tellus, sit amet malesuada odio ullamcorper at. Vestibulum placerat viverra porta. Duis posuere magna eu lacus interdum, at mattis sem ultricies. Aliquam scelerisque ac ante et interdum. Aliquam consequat lorem sed libero tincidunt.",
                    "text": "",
                    "source": {
                        "source": "santabanta.com",
                        "url": ""
                    },
                    "text_source": "",
                    "book_cover": "",
                    "book_title": "",
                    "book_author": "",
                    "author_citation": "",
                    "book_publisher": "",
                    "comment": {
                        "created_at": "2015-05-30T08:40:51.620Z",
                        "id": 1,
                        "text": "Donec congue lacinia sapien, et convallis purus lobortis et. In sit amet ligula molestie, commodo risus quis, sagittis erat. Quisque a ex pharetra, iaculis augue eget, vehicula mauris.",
                        "from": {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/22.jpg"
                        },
                        "like_count": 284,
                        "media": "",
                        "media_type": "",
                        "reply": []
                    }
                },
                {
                    "type": "multiwlepa",
                    "created_at": "2015-07-09T08:40:51.620Z",
                    "id": 606,
                    "next_id": 1,
                    "prev_id": 2,
                    "title": "Phasellus quis imperdiet.",
                    "slug": "lorem-ipsum-dolor-sit-amet",
                    "tags": [{
                        "tag": "MESSI",
                        "type": "footballer"
                        },
                        {
                        "tag": "FCB",
                        "type": "club"
                        },
                        {
                        "tag": "NEWS",
                        "type": ""
                        },
                        {
                        "tag": "FANGOL",
                        "type": ""
                        },
                        {
                        "tag": "FUN",
                        "type": ""
                    }],
                    "matches": {},
                    "queue": "waiting",
                    "is_published": true,
                    "is_contest": false,
                    "contest_id": "",
                    "thumb_url": "https://youtu.be/Hagn2hY-E8M?thumb_url",
                    "medium_url": "https://youtu.be/Hagn2hY-E8M?thumb_url",
                    "large_url": "https://youtu.be/Hagn2hY-E8M?thumb_url",
                    "user": {
                        "id": 1,
                        "username": "martinus",
                        "avatar": "http://api.randomuser.me/portraits/thumb/men/20.jpg"
                    },
                    "media": {
                        "url": "https://youtu.be/Hagn2hY-E8M?thumb_url",
                        "thumb_url": "https://youtu.be/Hagn2hY-E8M?thumb_url",
                        "caption": "Hola! Te invito a que visites nuestra cuenta que esta llena de tips y consejos sobre moda, wrzutę, decoracion, DIY, belleza del cuerpo, edits ,tutos y mucho mas!! si nos seguis, te seguimos",
                        "from": "leomessi",
                        "created_at": "20 lip 2015",
                        "index": 1,
                        "is_cover_pic": true,
                        "description": "First Image Description",
                        "like_count": 150,
                        "type": "video",
                        "dislike_count": 5
                    },
                    "like_count": 40,
                    "vote_count": 946,
                    "dislike_count": 500,
                    "likes": [
                        {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/21.jpg"
                        },
                        {
                            "username": "carole",
                            "id": 2,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/20.jpg"
                        },
                        {
                            "username": "angelina",
                            "id": 3,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/21.jpg"
                        },
                        {
                            "username": "teresa",
                            "id": 4,
                            "avatar": "http://api.randomuser.me/portraits/thumb/women/24.jpg"
                        }
                    ],
                    "comment_count": 10,
                    "description": "",
                    "text": "In augue risus, suscipit at arcu quis, mattis ullamcorper sapien. Praesent tincidunt neque nec neque vulputate aliquet. Donec varius est porttitor accumsan vestibulum. Phasellus mattis ultrices mattis. Etiam rhoncus semper tellus, sit amet malesuada odio ullamcorper at. Vestibulum placerat viverra porta. Duis posuere magna eu lacus interdum, at mattis sem ultricies. Aliquam scelerisque ac ante et interdum. Aliquam consequat lorem sed libero tincidunt.",
                    "source": {
                        "source": "youtube.com",
                        "url": ""
                    },
                    "text_source": "",
                    "book_cover": "",
                    "book_title": "",
                    "book_author": "",
                    "author_citation": "",
                    "book_publisher": "",
                    "comment": {
                        "created_at": "2015-05-30T08:40:51.620Z",
                        "id": 1,
                        "text": "Donec congue lacinia sapien, et convallis purus lobortis et. In sit amet ligula molestie, commodo risus quis, sagittis erat. Quisque a ex pharetra, iaculis augue eget, vehicula mauris.",
                        "from": {
                            "username": "martinus",
                            "id": 1,
                            "avatar": "http://api.randomuser.me/portraits/thumb/men/22.jpg"
                        },
                        "like_count": 284,
                        "media": "",
                        "media_type": "",
                        "reply": []
                    }
                },
                {
                    "type": "multiwlepa",
                    "created_at": "2015-07-09T08:40:51.620Z",
                    "id": 606,
                    "next_id": 1,
                    "prev_id": 2,
                    "title": "Phasellus quis imperdiet.",
                    "slug": "lorem-ipsum-dolor-sit-amet",
                    "tags": [{
                        "tag": "MESSI",
                        "type": "footballer"
                        },
                        {
                        "tag": "FCB",
                        "type": "club"
                        },
[...]
